[2016-07-12 01:21] shudingbo opened #288 "I Implement schedule admin module,base node-schedule,have UI,can join it in node-schedule?"
The module is [sdb-schedule](https://github.com/shudingbo/sdb-schedule)
- Can admin the schedule job.
- Have UI APP [sdb-schedule-ui](https://github.com/shudingbo/sdb-schedule-ui)
- Have One Plugin Using [Clean Redis Data](https://github.com/shudingbo/scp-cleanRedis)

[2016-07-12 07:18] santigimeno commented on #287
@elnewfie I think there's nothing wrong with your test as it works as expected. The cron expression you're using should trigger the job only once a day: @ `00:00:01`. The clock is ticking less than 1-day milliseconds. Change the tick value to: `1 * 24 * 60 * 60 * 1000` and it should work.

[2016-07-12 07:20] santigimeno commented on #288
@shudingbo those projects look great indeed! I have no strong opinion on this. Pinging @tejasmanohar as he initially created the organization.

[2016-07-12 11:02] shudingbo commented on #288
@tejasmanohar

[2016-07-14 01:44] n2sandhu opened #289 "Scheduled job skips execution every second time"
Hey. i have just started using node-schedule to schedule a cron job on my server which is supposed to run at 1520 hours everyday. For the first week it ran as expected but afterwards it started skipping one day before next execution. i noticed this as i send out an email to myself every time the cron job is executed. I also have set up logs to log when the cron job executes. Both emails and logs s

[2016-07-14 08:00] santigimeno commented on #289
@n2sandhu Thanks for the report. It sounds strange indeed. A couple of things I can think of to try to track down the issue:
- Using `sinon` fake timers, reproduces the issue for you?:
[code]
- Add this log to the code in the server and wait for the issue to happen:
[code]

[2016-07-18 09:52] rudijs opened #290 "Foreground Process"
Hi,

Is it possible to run the schedule process in the foreground?

Reason is for use in a docker container which needs the process to run in the foreground.

Thanks.

[2016-07-22 00:50] hankim813 commented on #217
@santigimeno @tejasmanohar any update on this?

[2016-07-22 08:02] santigimeno commented on #217
@hankim813 not really. I haven't had time to implement it. But if someone wants to give it a try, it should not be that difficult now that `cron-parser` has timezone support.

[2016-07-23 10:00] svadodariya opened #291 "Update scheduled job time."
Can you please help me out to update the time of scheduled job? Is there any method for update time for job which already scheduled?

Thanks Ahead The Time,
Sudhir

[2016-07-28 11:33] santigimeno commented on #291
@svadodariya I think `rescheduleJob` should help you: https://github.com/node-schedule/node-schedule/blob/master/lib/schedule.js#L522-L535

[2016-07-28 11:39] santigimeno commented on #290
@rudijs I'm not sure I understand... doesn't `node your_script.js` run the process in the foreground?

[2016-08-12 11:28] damianobarbati commented on #217
+1!

[2016-08-13 18:02] haydockjp opened #293 "Weekly Scheduled items not firing after current day"
I am not sure if this an issue with the code, or my lack of understanding, but this is what I have experienced.

I created a basic script to see if node-schedule could do what I need to do.

NOTE: I have removed some of the code and logging from the attached files, as I do not want to expose the web services that I am calling

This is my schedule definition
[schedule.json.txt](https://github.com/n

[2016-08-16 05:44] ApurvaPatil opened #294 "Getting the status of previously run job in its very next run !"
Its just a query..but may become an issue. Can we get the status of previously triggered job ( whether it is still running or completed ) in its very next run ?

In the job, I am actually running a asyncronous process. So, it may happen that a set of previously run asynchronous process might not have completed their execution. So, need this requirement. Whether it is already implemented ? If yes,

[2016-08-16 09:49] haydockjp commented on #293
Also, this is running in a RPi 2B, node.js 4.2.2

[2016-08-16 09:53] santigimeno commented on #293
@haydockjp thanks for the report. Would it be possible that you could reduce your issue to a simple test case? It would help debugging the issue a lot. Anyway, I'll try to look at it as time permits.

[2016-08-16 17:19] damianobarbati commented on #34
+1

[2016-08-18 10:37] haydockjp commented on #293
Is this simper enough?

Get current date
Loop 10 times
Add four hours each look, and set a scheduled job to recur based on the day of the week, the hour and the minute.

It doesn't seem to fire at all

[testapp.js.txt](https://github.com/node-schedule/node-schedule/files/424670/testapp.js.txt)
[testapp.log.txt](https://github.com/node-schedule/node-schedule/files/424671/testapp.log.txt)

Date Star

[2016-08-26 09:35] kingmayko opened #295 "statr time and endtime with rule is not work"
var startTime =  new Date(now.getTime() + 5000);
var endTime =  new Date(now.getTime() + 20000);
var j = schedule.scheduleJob({ start: startTime, end: endTime, rule: '*/1 * * * * *'}, function(){
});

and it run every minute, but i want call function every second..

[2016-08-26 09:42] #295 closed

[2016-08-26 18:01] ericrini opened #296 "Test if schedule is valid."
Is there any way to test if a scheduling string is valid, without actually creating the job?

[2016-08-30 16:07] wayofthefuture opened #298 "Safely stop job"
Will job.cancel() wait for the job to stop before cancelling? What are the chances that on application fail or exit, a task will be stopped in the middle of executing code. For example, what if it is writing to MongoDB and the application exists in the middle of the task. Is there a way to wait for all jobs to finish then exit?

[2016-09-01 09:41] hashbangdev1 opened #299 "Monthly job firing daily"
Hi there

I want a job to fire every month on the 1st day of the month at 00:02 am.

I've tried the following configurations and they all seem to fire daily at 00:02am:

1)  '0 2 0 1 \* ?'

2)
    var rule = new schedule.RecurrenceRule();
    rule.dayOfMonth = 1;
    rule.hour = 0;
    rule.minute = 2;

3) {hour: 0, minute: 2, dayOfMonth: 1}

I'm not sure if this is an issue with my chron expressi

[2016-09-01 12:21] techtolentino commented on #294
+1

[2016-09-02 00:53] hydrix9 commented on #163
I get this error

`Cannot read property 'execute' of undefined`

when I try to run

`schedule.scheduleJob('*/5 * * * * *', UpdateTiles("5sec"));`

as opposed to

[code]

which works perfectly

[2016-09-02 12:20] benishak commented on #226
I still have this issue

[code]

[2016-09-03 16:36] santigimeno commented on #299
@hashbangdev1 `2 0 1 * *` should work

[2016-09-03 16:46] santigimeno commented on #298
In short, no. Cancelling a job just avoids future invocations of the scheduled job. Improvements in this area are certainly possible.

[2016-09-03 16:47] santigimeno commented on #296
No. The best option would probably be creating the job, check if it's successfully created and cancel it.

[2016-09-03 16:49] santigimeno commented on #294
@ApurvaPatil No, at the moment there's no way. Contributions are certainly welcomed. In way, the issue is basically the same as in thehttps://github.com/node-schedule/node-schedule/issues/298

[2016-09-03 16:53] santigimeno commented on #293
@haydockjp run your test in Linux and OS X, and it works correctly. Can you check in a different box than your rpi?

[2016-09-03 16:54] santigimeno commented on #291
Closing. Feel free to reopen if the issue hasn't been resolved for you

[2016-09-03 16:54] #291 closed

[2016-09-03 21:15] iwozzy commented on #294
You might be able to do it like this:

[code]

[2016-09-04 03:57] #298 closed

[2016-09-12 17:16] esuarezz opened #300 "Skipping task after (more or less) one hour"
So I am running this task:  **var j = schedule.scheduleJob('5 * * * * *', function(){**.........[]
And everything is fine after 1 hour... it is like this is not called anymore, should I set perhaps something more???

*

[2016-09-12 17:58] esuarezz commented on #300
another question:

is it possible to execute the first time inmediately? I have not found that possibility in the tests and readme file

[2016-09-27 14:17] catherinetsokur opened #301 "Each Nth day and month are not working correctly (*/N)"
Patterns like `*/2 * * * * *`, `* */3 * * * *`, `* * */4 * * *` - each Nth second, minute, hour - work perfectly fine.
Patterns for day and month - `* * * */3 * *` and `* * * * */3 *` - are not working properly. As today is 27th of September (month 9) `*/3` should be a valid pattern for both, as they are both dividable by 3.
Whereas pattern like this `* * * 25,26,27,28,29,30/3 * *` (where 27th is

[2016-09-27 14:34] catherinetsokur commented on #301
Goes wrong in [```cron-parser```](https://github.com/harrisiirak/cron-parser) already. It generates next execution `Sat Oct 01 2016 10:00:00 GMT+0000` for expression `0 0 10 */3 */3 *`, when it should be `Tue Sep 27 2016 10:00:00`.

[2016-09-27 15:11] santigimeno commented on #301
Thinking about it, it looks correct. The manual here: https://linux.die.net/man/5/crontab says:
`Following a range with "<number>" specifies skips of the number's value through the range`.
I interpret it that using this pattern for month; `* * * * */3 * `, should match for: `1, 4, 7 and 10`. The same can be applied for day. What do you think?

[2016-09-27 15:41] catherinetsokur commented on #301
There's an example right after your quotation `For example, "0-23/2" can be used in the hours field to specify command execution every other hour (the alternative in the V7 standard is "0,2,4,6,8,10,12,14,16,18,20,22"). Steps are also permitted after an asterisk, so if you want to say "every two hours", just use "*/2".`

I will try to contribute a fix to cron-parser. Just got it working locally.

[2016-09-27 15:42] catherinetsokur commented on #301
Here's a thing btw - http://crontab-generator.org/ - don't know what it's built on, but I totally agree with it's results.

[2016-09-27 15:57] santigimeno commented on #301
Yes, I read that. What's not completely clear to me with that text is when it starts counting the steps.

Hours seems clear, its range is: `0-23` so `0-23/2` and `*/2` seem like they should do the same: starting on `0` --> `0, 2, 4, ...`.

Month range goes: `1-12` so if `1-12/2` has to be equivalent to `*/2` it should go: `1, 3, 5, 7, 9, 11`. The same should apply to `*/3`.

Anyway, open the PR @

[2016-09-27 17:55] catherinetsokur commented on #301
That's weird indeed. `*/2` and `1-12/2` should produce the same result. You are right here. Can be something to do with `*/2` meaning modulo and ranges meaning order numbers starting from the first element...  Then more fixes will be needed. But I'm pretty sure, that `*/2` should be even.

[2016-09-27 19:41] catherinetsokur commented on #301
Was just executing cron jobs and figured out I was wrong about `*/2` being even. Taking into account today is 2016-09-27:

`* * */2 * *    echo '* * */2 * *' >> /tmp/crontest.txt                             # Executed: Odd days 1,3,5... 27
* * * */2 *    echo '* * * */2 *' >> /tmp/crontest.txt                             # Executed: Odd month 1,3,5...9
* * */3 * *    echo '* * */3 * *' >> /tmp/cro

[2016-09-27 19:41] #301 closed

[2016-09-28 01:29] jugaltheshah commented on #296
You can also use an online checker tool: http://cron.schlitt.info/. As long as you're aware of the [unsupported features](https://github.com/node-schedule/node-schedule#unsupported-cron-features) of node-schedule, it should get the job done.

[2016-09-28 07:23] santigimeno commented on #301
No problem. Something new I learnt too.

[2016-10-03 16:16] sunkuo commented on #300
Can you post the log? I don't think it is the problem of node-schedule

[2016-10-03 16:45] sunkuo commented on #299
@hashbangdev1
 It is not a good idea to use 0 2 0 1 * ? . Because the symbol '?' in cron is confused and have different meaning in different implementations.
See   https://en.wikipedia.org/wiki/Cron

But in node-schedule , it use cron-parser(https://github.com/harrisiirak/cron-parser)  which not implement the ‘？’
<img width="408" alt="screen shot 2016-10-04 at 12 41 45 am" src="https://cloud.githu

[2016-10-04 00:59] jamesone opened #303 "Is it possible to access the rule being executed?"
I've got a loop like so:

[code]

Is the functionality built in so that when a cron runs, the rule for it can be accessed?

I created a SO question here: http://stackoverflow.com/questions/39842781/node-schedule-how-can-i-access-the-current-rule-which-is-being-executed

[2016-10-04 08:05] santigimeno commented on #303
@jamesone Not directly. You can always do something like this:
[code]

[2016-10-04 14:17] valayDave commented on #11
This is happening to me right now

`
var Jobs = appRequire('jobs');

var Scheduler = require('node-schedule');

var hourlyRule = new Scheduler.RecurrenceRule();
hourlyRule.minute = 60

Scheduler.scheduleJob(hourlyRule, function () {
    var inputObject = {startDate : new Date().setHours(0,0,0,0),endDate : new Date().setHours(23,59,59,999)}// specify time period here.
    Jobs.dailyCron(inputObject

[2016-10-06 06:09] jamesone commented on #303
That does it, thanks. Feel free to post it on the SO question! BTW I had to use `function () {` instead of the fat arrow `() => {` as `this` inside a fat arrow is globally scoped.

[2016-10-12 01:16] mKontakis commented on #163
@hydrix9 Did you manage to fix it?

[2016-10-13 08:45] hashbangdev1 commented on #299
Thanks @sunkuo this looks better.

[2016-10-13 13:22] leoslopez opened #304 "Problem when define unordered hours list"
I have a cron definition to run at minute 0 past hour 1, 9, and 11:
- When I defined in this way: _0 9,11,1 \* \* *_ (the job is not running at 1)
- When I defined in this way: _0 1,9,11 \* \* *_ (it's running correctly)

It seems to be a problem related to node-schedule.

[2016-10-13 13:51] santigimeno commented on #304
@leoslopez please, report the issue @ cron-parser: https://github.com/harrisiirak/cron-parser/. It looks like a bug to me, but let's see what they think. Thanks

[2016-10-13 14:06] leoslopez commented on #304
Here is [the issue](https://github.com/harrisiirak/cron-parser/issues/75)
Thanks!

[2016-10-13 18:29] esuarezz commented on #300
The problem was with the Heroku plan.... it was getting out of memory! you can close it!

Thanks!

[2016-10-13 23:31] mitchellporter commented on #300
@esuarezz Can you elaborate on this? Was your free dyno going to sleep or was there an actual memory problem?

[2016-10-13 23:35] esuarezz commented on #300
Hi! it was not a memory problem, I checked that, it was the dyno, so dont
worry, it is something not related with node-schedule, if not I would tell
you! thank and good job!

On 14 Oct 2016 00:31, "Mitchell Porter" <notifications@github.com> wrote:

[2016-10-14 07:12] santigimeno commented on #300
Great you found out what the problem was.

[2016-10-14 07:12] #300 closed

[2016-10-15 15:41] TimMeade commented on #281
@kadosh1000  not sure if this helps,  i just did something like this:

    var j = scheduleObj.scheduleJob(when, what);
    j.callback = function() {
        console.log('CALLBACK?');
    };

But I'm just logging date/time and what was run....

[2016-10-19 11:10] gtorodelvalle opened #307 ""Set StartTime and EndTime" functionality not included in release"
Hi @tejasmanohar , @santigimeno (since I saw you both made releases for this repo in the past), all,

I was trying the "Set StartTime and EndTime" functionality and noticed it didn't work in release `1.1.1`. The reason is that although this functionality is included in `master` (see https://github.com/node-schedule/node-schedule/blob/master/lib/schedule.js#L192), it is not included in the latest r

[2016-10-19 11:15] santigimeno commented on #307
@gtorodelvalle not really, just didn't think about it. :). I'll make a release asap (or now)

[2016-10-19 11:23] gtorodelvalle commented on #307
Thank you very much once again, this time for your quick reply... 😃

[2016-10-19 11:29] santigimeno commented on #307
BTW you could always use the hash of the commit.

[2016-10-19 11:31] santigimeno commented on #307
Version `1.2.0` released. Thanks!

[2016-10-19 11:31] #307 closed

[2016-10-26 15:21] jefftham commented on #284
yes, it is not running for minute job.

[code]

[2016-10-26 15:27] jefftham opened #308 "not running for hour job."
it is not running for hour job.

[code]

[2016-10-26 15:41] santigimeno commented on #308
@jefftham if your purpose is that the job runs exactly at 11am, you should use the following rule: `0 11 * * *` or `0 0 11 * * *`. The rule you are using, triggers the job every second in 11 am hour i.e. 11:00:00, 11:00:01, and so on

[2016-10-26 16:52] jefftham commented on #308
@santigimeno , i understand that it will be running every second or minute at 11am. However, it is not working.

[2016-10-26 20:45] santigimeno commented on #308
@jefftham Ok, I see.

I've tried your code, and it's working correctly in my box. Maybe it's a problem with timezones. Is your  system configured in the same timezone you're expecting the job to run? I mean, I'm in `Europe/Madrid` and the output of your code is (using `0 11 0 0 0`):
[code]
that's 11 am in my timezone translated to `America/New_York`... I'm just guessing.

[2016-10-27 03:56] jefftham commented on #308
@santigimeno , you are right.  it is my timezone problem. i suggest the developer add it to the README.md  and warn others.

Thanks for your time, and sorry for disturbing.

[2016-10-27 03:56] #308 closed

[2016-10-31 17:05] breel007 commented on #267
Confirmed this is still an issue:  Following code results in an infinite loop in nextInvocationDate, starting one week before DST starts.  I believe it would start to work fine again after DST switch-over passes.

var ruleReboot = new schedule.RecurrenceRule();
	ruleReboot.dayOfWeek=0;
	ruleReboot.hour = 3;
	ruleReboot.minute= 30;
schedule.scheduleJob(ruleReboot, function(){
	piReboot();
});

[2016-11-12 19:37] ssmith88 opened #309 "Fix for Documentation"
The code snippet below does not work.

let **startTime** = new Date(Date.now() + 5000);
let endTime = new Date(**now**.getTime() + 5000);
var j = schedule.scheduleJob({ start: startTime, end: endTime, rule: '*/1 * * * * *' }, function(){
  console.log('Time for tea!');
});

I believe you wanted ...**startTime**.getTime()...

Or at least that is how I got it to work.

[2016-11-25 17:07] kkarahainko opened #310 "Last execution date"
I have a job, it should fire every 10 min. App is crashed on 9 min and after restart I have to wait 10 mins again, but it should start immediately because 10 mins is passed after last execution (stored in db). Is it possible to define a last execution date somehow or use start date for this purposes?

[2016-11-26 07:19] santigimeno commented on #310
Does this cover your needs https://github.com/node-schedule/node-schedule#set-starttime-and-endtime?

[2016-11-29 01:00] anthonywebb opened #312 "Install warnings"
Running node 6.3 and when installing I am seeing the following warnings:

MacBook-Pro-2:player-rpi webb$ npm install node-schedule -save
(node:93859) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
(node:93859) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs modu

[2016-11-29 03:04] anthonywebb commented on #312
Note that when I installed using node 7.2 I did not get any of the warnings

[2016-11-29 13:58] kkarahainko commented on #310
Thank you, solved.

[2016-11-29 13:58] #310 closed

[2016-11-30 05:49] amitava82 commented on #284
Not working for me either

[2016-11-30 10:58] javimudi commented on #217
Hi,

👍  here for timezone support.

I've forked your repo and I am trying to understand which is the best place to add it.

Just upgraded to the latest cron-parser release, but a major test break is produced.

Any advice about which the proper place to include the support is?

Regards

[2016-11-30 11:11] santigimeno commented on #217
@javimudi it's great you're giving this a try! Thanks

Take a look at this: https://github.com/santigimeno/node-schedule/tree/bump_cron. The tests pass with latest cron-parser.

I would add a new `timezone` or `tz` option in the same way `start` and `end` options were added. Take a look at this PR: https://github.com/node-schedule/node-schedule/pull/292.

Just let us know if you need further advic

[2016-12-01 12:02] amnond opened #313 "schedule.scheduledJobs"
The scheduledJobs member of node-schedule is not mentioned in the documentation and also has a problem if two schedules with identical titles are added:

[code]

[2016-12-06 17:46] iericallen commented on #263
We also came across this bug. We were using 3 separate `schedule.RecurrenceRule()`'s to cover all 7 days of the week and send emails at different times. Over the course of a month, we didn't realize that each Sunday the cron was being fired off twice.
![screen shot 2016-12-06 at 8 16 02 am](https://cloud.githubusercontent.com/assets/3165745/20930864/4e8988ce-bb8c-11e6-9d11-6d6cd9271f22.png)

[Clic

[2016-12-07 12:35] vcasadei commented on #269
Hi, if I want to run at 19, 20, 21 and 22h, how can I do this?

Will I have to create one job for each? Or does hour accepts a list of items?

var rule = new schedule.RecurrenceRule();
rule.dayOfWeek = [0, new schedule.Range(5, 6)];
rule.hour = 19;
rule.minute = 0;

var rule1 = new schedule.RecurrenceRule();
rule1.dayOfWeek = [0, new schedule.Range(5, 6)];
rule1.hour = 20;
rule1.minute = 0;

var r

[2016-12-07 14:03] santigimeno commented on #269
@vcasadei use a `Range`:

[code]

[2016-12-07 14:04] santigimeno commented on #313
Both are known issues. PR's to improve the documentation are always welcome!

[2016-12-07 14:05] santigimeno commented on #309
I think this was fixed with https://github.com/node-schedule/node-schedule/commit/fa1212b1e8e4f8eda2001c90330f8bc94725619e

[2016-12-07 14:05] #309 closed

[2016-12-07 14:06] santigimeno commented on #303
Closing this. Feel free to reopen if you think something else needs to be discussed

[2016-12-07 14:06] #303 closed

[2016-12-07 14:07] santigimeno commented on #299
Closing this. Reopen if you think something else needs to be discussed

[2016-12-07 14:07] #299 closed

[2016-12-07 14:10] santigimeno commented on #263
@iericallen thanks for taking the time and post code that reproduces the issue. I'll try to take a look at it soon

[2016-12-07 14:13] amnond commented on #313
ok, thanks. Will try to help.

[2016-12-07 22:21] connorzg commented on #313
@amnond @santigimeno is this solely an issue with .scheduledJobs? I am pushing all created jobs into a jobs array and canceling from there, though I am using the same variable name for scheduling (data is dynamic). Do you believe these jobs are still running?

[2016-12-13 16:05] santigimeno commented on #313
@connorzg while you're storing `Job` objects and cancelling them via `Job.cancel()` there should not be any problem.

[2016-12-13 16:07] connorzg commented on #313
Yep I've been able to run a lot of testing and ran into no issues. Thanks!

[2016-12-13 19:53] santigimeno commented on #263
@iericallen I've found the issue with your code. The problem is how `rule.dayOfWeek` is defined for every job. Let's go rule by rule:

[code]
This is equivalent as doing
[code]
And taking into account that the valid range for `dayOfWeek` is `[0 - 6] === [Sunday - Saturday]` (yes, I know it's not documented anywhere), the rule is translated as **Sunday** and **Saturday**. So far so good.

Next rule

[2016-12-14 10:20] magicdawn opened #315 "poor documentation: RecurrenceRule options"
the document on the README.md did not list the options / properties of the RecurrenceRule instance,but I had seen code in a ancient project

[code]

The `daysInMonth` option is not working, and don't know where the code come from,
After read the source code, I can only know the property name is `date`, So we'd better add these to the documentation.

https://github.com/node-schedule/node-schedule/b

[2016-12-14 11:17] magicdawn commented on #315
# the list

- `second`
- `minute`
- `hour`
- `date`
- `month`
- `year`
- `dayOfWeek`

[2016-12-15 14:35] javimudi commented on #217
Hi, @santigimeno,

I just added a PR following your advices and including several changes to handle timezone support.

I'll be waiting for your comments.

[2016-12-15 14:37] santigimeno commented on #217
Great! I'll take a look as soon as time permits. Thanks!

[2016-12-23 19:22] imrihe opened #317 "when sending hour= 24 to recurring rule - code hangs instead of returning error"
[code]

I think the code should return error and not just hang...

[2016-12-27 07:55] whitecolor opened #318 "Is it possible to validate cron pattern?"
Is it possible currently to validate cron string other other options format?

[2016-12-28 15:59] komplexb opened #319 "How to get a daily schedule to work with an Electron app?"
I'm scheduling an action to occur daily at a set time, but it doesn't work (reliably). If scheduled for every 5 minutes, the action seems to occur reliably with the app minimized. If the computer sleeps, when woken the action is run repeatedly (this is fine).

I scheduled the action for Dec 27 @ 9 and it didn't occur. Logging (based on job events) reveals that the schedule was accurately changed,

[2016-12-28 19:12] rtodea commented on #313
Hi @santigimeno,

How should the scheduler behave in the scenario mentioned by @amnond?

I can imagine the following options:

1. throwing an exception
2. implicitly cancelling the previous job

The current behavior (i.e. keeping the first job active and having
access only to the second job) is counter-intuitive.

I had some issue in my project because of this.

Please advise.

Thanks!

[2017-01-02 13:15] rtodea commented on #296
As `node-scheduler` uses `cron-parser` to handle cron-like syntax you could do something along these lines:
[code]

[2017-01-02 13:18] rtodea commented on #318
If you would like to validate the cron-like pattern before actually creating a job, see [my comment](https://github.com/node-schedule/node-schedule/issues/296#issuecomment-269971152) on [issue#296](https://github.com/node-schedule/node-schedule/issues/296).

[2017-01-02 13:25] whitecolor commented on #318
Ok thanks.

[2017-01-02 13:25] #318 closed

[2017-01-08 18:28] erudinsky opened #320 "Date-based scheduling issue"
Hi

Why this

[code]

runs my console.log every minute (00 seconds) of each minute?

[2017-01-08 18:37] erudinsky commented on #320
My bad. Closing this one.

[2017-01-08 18:37] #320 closed

[2017-01-12 04:12] jssuttles opened #321 "NWJS context issue"
This is probably a weird use case for you, but I tried using this package in nwjs.
I maintain two apps.
I first used this with an nwjs app with --mixed-content enabled. This worked perfectly.
Then, I used it in my other nwjs app that doesn't have --mixed-content enabled, and it didn't work. It returned a recurring rule that recurs every minute. I was trying to schedule a job to occur on a single d

[2017-01-12 18:33] kquigley-17 opened #322 "Schedule stops running"
Hi, we are testing node.js application utilizing node-schedule. It has been nice and simple to implement, however, while testing our application in test development environment, the scheduling piece appears to stop executing after approx 12 hours; this happens consistently but not sure of time frame at which it consistently stops running. I am using the chron style for the schedule, currently runn

[2017-01-12 20:49] santigimeno commented on #317
@imrihe you're right. Would you like to open PR for this? (if not it's fine) Thanks!

[2017-01-12 20:51] santigimeno commented on #322
@kquigley-17 IIRC there were reports of similar issues when the computer was suspended due save energy mode or something.
You say it happens consistently, can you give more details? I guess you can know at what time it fails, after how may hours it fails, etc.?

[2017-01-12 21:34] santigimeno commented on #319
@komplexb strange issue indeed. Are you still experiencing the issue? From what I can tell, in the code there's an issue when you define the rule:
[code]
defining it like this should suffice:
[code]
Apart from that I don't seen anything obviously wrong.

Another thing you could do is trying to reproduce the scenario you described in the issue by using [sinon fake timers](http://sinonjs.org/docs/#c

[2017-01-12 21:35] santigimeno commented on #315
@magicdawn you're correct, the documentation is lacking in a lot of aspects. Would you like to create a PR fixing this issue? Thanks!

[2017-01-12 21:36] komplexb commented on #319
@santigimeno thanks for getting back in touch. I did some refactors that included reapplying the schedule each time the computer wakes up. That solved it.

[2017-01-12 21:42] santigimeno commented on #313
@rtodea I agree. I think the throwing an exception makes more sense but both options are better than what we have now. What option do you prefer? Would you be willing to send a PR fixing the issue? From what I can tell both options would be `semver-major`

[2017-01-12 21:48] santigimeno commented on #312
I can't reproduce it locally:
[code]
are you sure it's not a problem with another module you have in your node_modules directory? I say this because `node-schedule` does not use `graceful-fs`.

[2017-01-12 21:50] santigimeno commented on #296
Closing as it seems to be correctly answered. Feel free to re-open if you have further questions.

[2017-01-12 21:50] #296 closed

[2017-01-12 21:51] santigimeno commented on #290
No follow up. Closing. Feel free to reopen though

[2017-01-12 21:51] #290 closed

[2017-01-12 21:52] santigimeno commented on #289
@n2sandhu ping

[2017-01-12 21:52] kquigley-17 commented on #322
It fails consistently but not sure how long it takes to fail.  last night ran approximately 10-12 hours

[2017-01-12 21:52] santigimeno commented on #287
No follow up, closing. Feel free to re-open though

[2017-01-12 21:52] #287 closed

[2017-01-12 21:54] santigimeno commented on #322
@kquigley-17 can you share code that reproduces the issue?

[2017-01-12 21:55] santigimeno commented on #281
No follow up, closing. Feel free to reopen though.

[2017-01-12 21:55] #281 closed

[2017-01-12 21:56] santigimeno commented on #273
Fixed in https://github.com/node-schedule/node-schedule/commit/0883f24dcb2717f04aba9bb8503f260c706ae144 and published as `1.1.1`

[2017-01-12 21:56] #273 closed

[2017-01-12 21:58] santigimeno commented on #319
@komplexb that's great news and thanks for sharing your workaround!. Can this be closed then?

[2017-01-12 21:58] santigimeno commented on #304
This will be fixed once https://github.com/node-schedule/node-schedule/commit/0883f24dcb2717f04aba9bb8503f260c706ae144 lands.

[2017-01-12 22:00] kquigley-17 commented on #322
"use strict";
const
    config = require('../../config.js')[(process.env['FRT_ENV'] || 'development')],
    schedule = require('node-schedule'),
    jobName = 'eligibility',
    path = require('path');

let taskSchedule = config.nodeSchedule;
console.log('schedule ' , taskSchedule);

const isReady = function (status) {
    return status === "Ready";
};
const self = this;
module.exports.resetSchedu

[2017-01-12 22:01] santigimeno commented on #263
@iericallen is this still an issue?

[2017-01-12 22:02] santigimeno commented on #322
@kquigley-17 thanks. Can you enclose the code in backpacks so it's formatted by Github and it's more readable?

[2017-01-12 22:03] kquigley-17 commented on #322
not sure that is clean or sufficient enough;  i included the main node js code which calls the scheduler (it's not nightly; it's every 5 min based on config.  left out the actual eligibilityJob code which is the logic we run on schedule.  The code is running on a shared server; i don't think it's set to go to sleep or low energy mode but will check

[2017-01-12 22:03] santigimeno commented on #249
No follow up, closing. Feel free to reopen though

[2017-01-12 22:03] #249 closed

[2017-01-12 22:04] kquigley-17 commented on #322
backpacks?  sorry
new to doing this

[2017-01-12 22:04] santigimeno commented on #284
@amitava82 could you be more specific?

[2017-01-12 22:05] kquigley-17 commented on #322
also the configured schedule
        nodeSchedule : '*/5 * * * *',      // every minute (min,hour,day,month,weekday)
        nodeReschedule : '*/2 * * * *',  // every 2 minutes (min,hour,day,month,weekday)

[2017-01-12 22:06] santigimeno commented on #322
@kquigley-17 sorry I meant backticks. Don't worry, I updated your post so it reads better now

[2017-01-12 22:08] kquigley-17 commented on #322
thanks :)

[2017-01-12 22:10] komplexb commented on #319
Yes you can, thanks.

Sent from Windows Mail

From: Santiago Gimeno<mailto:notifications@github.com>
Sent: ?Thursday?, ?January? ?12?, ?2017 ?4?:?58? ?PM
To: node-schedule/node-schedule<mailto:node-schedule@noreply.github.com>
Cc: Byron<mailto:byronbuckley@live.com>, Mention<mailto:mention@noreply.github.com>

@komplexb<https://github.com/komplexb> that's great news and thanks for sharing your wor

[2017-01-12 22:10] #319 closed

[2017-01-13 02:20] amitava82 commented on #284
Never mind, I misunderstood how to define rule.

[2017-01-13 05:32] rtodea commented on #313
@santigimeno, thanks for the reply!

I prefer option 2 (implicitly cancelling the previous job).
I will come back with a PR for it.

[2017-01-13 09:50] santigimeno commented on #284
Thanks. Closing then.

[2017-01-13 09:50] #284 closed

[2017-01-13 09:57] #315 closed

[2017-01-13 09:57] santigimeno commented on #315
Fixed by https://github.com/node-schedule/node-schedule/commit/852b3c9505474b7985b22081d8e08fd60583aedb

[2017-01-17 16:31] kquigley-17 commented on #322
Did some experimenting over the weekend.  With changing to a schedule of every 20 minutes, the scheduling component remained running for approx 36 hours.   Previously it appeared to consistently stop at approx 10 hours.  I suspect something needing to be cleaned up either in the way I'm calling the scheduler or in the node-schedule itself.  Does this say anything to you?

[2017-01-17 16:39] santigimeno commented on #322
@kquigley-17 it's indeed strange. I haven't had time to look into this. What I would do to isolate where the problem is, is running your scheduling logic with jobs that do nothing (just print something, for example). If this still causes issues, it's quite probable the problem is in `node-schedule`. If not, it could be in the code executed by the job.

[2017-01-17 16:48] kquigley-17 commented on #322
Yes, over the weekend, no data was passing through the 'job' that is scheduled. so it was mostly just logging information.

Thanks

[2017-01-17 17:13] santigimeno commented on #322
@kquigley-17 okay. Can you try using [sinon fake timers](http://sinonjs.org/docs/#clock) (see our tests to see how to use it in case you're not familiar) and make a run for some hours / days / months and see how it goes?

[2017-01-17 17:35] kquigley-17 commented on #322
Will try; depends on how I can incorporate with current testing ongoing on server on which it's failing; will see what I can do. thanks

[2017-01-18 22:00] kquigley-17 commented on #322
I have not had time to do much with this but trying to understand how you want me to test using fake timers.  I see the example below recommended as related to another issue.  Looks here like you are using it to simulate the passing of time, whereas in my case I have a schedule for every 5 minutes (so using real time); how will fake timers help me sort this out?

Also, wondering if I should try a

[2017-01-22 04:01] caadecarvalho commented on #322
Hi @kquigley-17 , I ran into the same issue. It turns out that you need to use the 6 pattern rule on your schedule job, eg, if you want it to run on each 5 minutes, schedule as:

schedule.scheduleJob('* */5 * * * *', function(){
//Some logic goes here
console.log('Succeeded');
});

[2017-01-23 16:17] kquigley-17 commented on #322
Thanks so much for suggestion.  Just confirming with you @caadecarvalho that you experienced schedule stopping after so many hours with different format from what you sent me?  I also tried a recurrence rule w 5 minute range that had same issue.  I set it up w 6 pattern per your suggestion but will take until later today or over night to determine if any change to behavior.

Thanks

[2017-01-23 16:44] caadecarvalho commented on #322
When I was setting the 5 pattern, the job was failing on the second tick.
After using the 6 pattern, it runs successfully on the the next ticks.
Today, at my evening (BST), I'll start this cron job to run over the night.

Best

Abraços,

Carlos Anibal Amaral de Carvalho
móvel: (11) 95203-1505
email: caadecarvalho@gmail.com
Facebook <https://www.facebook.com/camaralc> - LinkedIn
<http://br.linkedin

[2017-01-23 16:58] kquigley-17 commented on #322
In my case, the timer was working find with the '5 pattern'.  It would just stop running after approx 12 hours; took longer to fail if I set it to longer so I'm starting to think it's my implementation, or side effects of other things I'm doing; will update you / all when I find solution or if the pattern change made any difference.

[2017-01-23 17:25] knight42 opened #324 "Could I pause/resume a job?"

[2017-01-25 07:51] onevcat opened #325 "Generator style callback does not work"
Hi, I am new to ES6 and node-schedule. I am trying to schedule a job with a generator function as callback. I saw that #210 mentioned that generator was supported. Here is my code below:

[code]

The `Hi` will be printed out correctly, but the `Result` will never printed out. I am using `yield Message.findAll()` quite a lot in other places without problem, so I guess it might be something in the g

[2017-02-01 22:07] yellowandy commented on #322
Hi, I had a similar issue where jobs would sometimes fire and sometimes they just wouldn't.  I am using the five rule format, will try the six and see if anything changes.  Is there a verbose or debug flag somewhere we could enable to see what's happening?

[2017-02-01 22:12] kquigley-17 commented on #322
I meant to update my status on original issue reported; I made some changes to my code outside of node schedule which resolved my problem; it appeared to be related to me calling zookeeper too many times (within the schedule; moved it outside of the schedule); now working well.

I did make the initial change from 5 pattern to 6 pattern cron format; it did not appear to correct anything in my case

[2017-02-02 09:05] santigimeno commented on #322
@yellowandy some more info about your issue would help. Do you have *simple* code that reproduces the issue? What cron rule are you using and what do you think the job should behave? (I ask this because many times the issue is with the cron rule definition). Thanks!

[2017-02-02 09:05] santigimeno commented on #322
@kquigley-17 great news. Thanks for reporting back!

[2017-02-02 09:08] santigimeno commented on #325
@onevcat I don't really know as I don't use generators myself. /cc @jonhester @tejasmanohar @albertdatui ?

[2017-02-02 09:09] santigimeno commented on #324
@knight42 I'm not sure I understand. Can you describe your use case? Thanks!

[2017-02-03 04:53] knight42 commented on #324
@santigimeno In some cases I want to pause a job until certain condition is met. I know that I can remove the job and re-add it, but if I could invoke some APIs, say `scheduledJobs[name].pause()` or `scheduledJobs[name].resume()`, that would be significantly more convenient.

[2017-02-09 22:21] sensugaz opened #326 "Please help me create a cron."
I need two rules

1. I want to work on every 25th of the month.

2. I want to run every 15 days.

I need to do ?
Thank You

[2017-02-10 09:36] santigimeno commented on #324
I'm not sure if this should belong to the module. As you say, removing / adding the job should do it. All that said, I'm not totally opposed to it, so if you come with a proposal (pull request) we can discuss it. Thanks!

[2017-02-14 05:57] akhileshthb opened #327 "Is it suitable to run heavy jobs?"
Hi,
I have a performance question.
If I want to schedule a time consuming heavy job, will it have an impact on my app server? Will it become slow to serve normal requests? Does it create a child process?

[2017-02-14 09:01] santigimeno commented on #327
I think it should be fine. No, it does not create child processes

[2017-02-14 09:03] #327 closed

[2017-02-17 14:56] #324 closed

[2017-02-22 23:30] PsyTae opened #328 "TypeError: Cannot read property 'execute' of undefined"
Here is my code, simple test to try and get it to console out every minute to make sure the schedule will work.  also tried with rule.minute = (next minute of the hour); and rule.minute = 0;

[code]

Received same error every time.

[code]

[2017-02-22 23:39] PsyTae commented on #328
It seems to work only if I use an anonymous function in stead of a named function... that doesn't seem to be right.... but I got it working using:

[code]

[2017-02-23 00:40] nrempel commented on #214
Hey there, I'm playing with this bug and have a slightly different take on it.

I think that jobs that occur that during a system time change should be missed completely. In this case, I think that the "one shot" job should be run 0 times (because the scheduled time effectively never happened according to system time).

What do you think about this? I believe this is consistent with how the Cron u

[2017-02-23 02:21] tejasmanohar commented on #214
I agree that we should stay consistent with `cron` behavior and not something like `anacron`. All these system changes are so system specific that I think they should be handled by whoever maintains the system / code running on it :)

[2017-02-23 15:56] nrempel commented on #214
Thanks for the response!

I agree that system changes should be handled by the system maintainer but I _do_ think that the "catching up" behaviour we see right now should be considered a bug. Also, the one-shot job should definitely not be run twice.

By agreeing, can I assume you will accept a pull request to drop invocations that occur in the past? 😀

[2017-02-24 23:26] MarkPareja opened #329 "bitdefender Virus Report"
Bitdefender is flagging ' node_modules/node-schedule/test/job-test.js ' as "Infected"

node-schedule@1.1.0

Detected as " Generic.JS.NemucodC.B9AB1355 "

[2017-02-27 02:47] tejasmanohar commented on #329
Weird. Not familiar with this. The error sounds like it'd just flag all Node code. Feel free to PR if there's something I'm missing.

[2017-02-27 02:47] #329 closed

[2017-02-27 02:49] tejasmanohar commented on #321
Closing this out since I think it's related to NWJS and don't see a relevant fix in this module but feel free to comment if that's not the case.

[2017-02-27 02:49] #321 closed

[2017-03-04 19:02] HansHammel opened #331 "not woring on win 10 node 9.6.4."
this code does exactly nothing on windows 10 x64, node 6.9.4
[code]

[2017-03-04 19:16] HansHammel commented on #331
my fault on * was missing in your samples this is working

[code]

[2017-03-04 19:16] #331 closed

[2017-03-06 01:42] itsmoops opened #332 "Issue setting up multiple scheduled emails"
Hey there! I'm trying to set up an email scheduler on a Heroku worker process that will send an email 4 times a day. One at 9am, 12:30pm, 4pm and 7pm. What I end up seeing is that the last email job runs at 7'oclock, but then it continues firing every minute afterwards. Clearly I am setting something up incorrectly here, is the scheduler meant to be able to used like this - setting up multiple Rec

[2017-03-07 22:26] fgkramer commented on #332
Hi @itsmoops, the syntax seems correct and indeed, multiple schedules is the currently available way to run jobs at different periods of time when this periods don't defer by the same amount of time.

You could try setting the minutes on rule4 like `rule4.minute = 0;`.

Cheers.

[2017-03-08 14:24] rtodea commented on #328
Hi @PsyTae,

You should not invoke the function, but pass the `Function` object:
[code]

In:
[code]
you are invoking the function `deleteExpiredFiles` by `deleteExpiredFiles()`.
`deleteExpiredFiles` does not have any return statement (i.e. the return value is `undefined`).

Thus your line is equivalent to:
[code]

which is further equivalent to:
[code]

`scheduleJob` expects at least 2 proper argu

[2017-03-09 09:03] rtodea commented on #332
Hi @itsmoops,

The correct way to use `RecurrenceRule` is as suggested by @fgkramer (i.e. setting explicitly the `minute` property to 0).

Please read the `README.md` recurrence rule [section](https://github.com/node-schedule/node-schedule#recurrencerule-properties), and please mind the following:

`null` (except for seconds, which is 0 for familiarity with cron). *If we did not
explicitly set `mi

[2017-03-09 15:00] francisdb opened #333 "high cpu use"
We see long periods of 100% cpu when scheduling jobs or a lot of cron schedules happen at the same time.

We could try to group similar cron jobs on our side but I wonder if this could be optimised on the side of the library.

Some test results below

**setup**
all tests run on my macbook 2,7 GHz Intel Core i7
since node can only use one core 'as fast as possible' means at 100% single core

**resu

[2017-03-09 19:27] santigimeno commented on #333
@francisdb I have a hunch that the issue could be in this [tight loop](https://github.com/harrisiirak/cron-parser/blob/1.1.0/lib/expression.js#L365-L462). If that's the case, we could try executing every iteration in a different tick by wrapping the code with `nextTick`.

[2017-03-09 19:34] santigimeno commented on #333
/cc @harrisiirak

[2017-03-09 22:39] francisdb opened #334 "Feature request: spread every n seconds/minutes/hours"
We use node-schedule for polling for data for multiple users. This most of the time happens every 15 minutes. But to be kind to our data providers we have to spread the polling.

The main issue with con syntax for this is that it does not allow */15 + 4min, 34sec which would run at:
HH:04:34 / HH:19:34 / HH:34:34 / HH:49:34

Our current implementation looks like this:
* run for each user cron at *

[2017-03-09 22:52] francisdb commented on #333
for our usecase 95% of crons are */15 min for any hour, would this translate into a huge amount o iterations?

[2017-03-10 01:28] itsmoops commented on #332
Thank you both @fgkramer and @rtodea, that resolved the issue! I had erroneously assumed that leaving minute undefined would default the value to 0.

[2017-03-10 01:28] #332 closed

[2017-03-10 11:50] francisdb commented on #334
Closing this as it is no longer a requirement for us

[2017-03-10 11:50] #334 closed

[2017-03-10 14:02] santigimeno commented on #333
Disregard this. I don't think this will work as every operation is synchronous.
TBH, I don't know if there's a proper solution with the current implementation in `cron-parser`.

[2017-03-10 14:07] francisdb commented on #333
We had to switch to https://github.com/foreverjs/forever which does not seem to be having this high cpu use (creating 100000 cron jobs in 8s)
For my part this ticket can be closed

[2017-03-10 14:11] santigimeno commented on #333
@francisdb thanks for following up. I'll keep the issue opened to see if this can be improved.
Cheers

[2017-03-10 14:51] santigimeno commented on #333
After instrumenting the example, the problem is not with `cron-parser` but with: https://github.com/node-schedule/node-schedule/blob/master/lib/schedule.js#L446

[2017-03-10 17:02] santigimeno commented on #333
With https://github.com/node-schedule/node-schedule/pull/335, the `30000` jobs take ~ `9700ms` whereas with current master take ~ `322045ms`.

[2017-03-14 06:17] #333 closed

[2017-03-14 06:35] goto100 opened #336 "job runs multiple times every minute with reschedule"
[code]

job runs hundred times with this code. `job.reschedule()` function fires the job runs wrongly.

but if changed the code `const cron = '*/15 * * * * *';`, it's just runs once, `jos.rescheduled()` functoin works fine.

[2017-03-14 08:01] francisdb commented on #333
Perfect, thanks for looking into this!

[2017-03-14 08:43] santigimeno commented on #333
BTW, fixed in `1.2.1`.

[2017-03-29 10:50] damianobarbati opened #337 "async/await support"
What about async/await support? It's 2017 guys! :)

[code]

[2017-03-29 10:58] santigimeno commented on #337
I'm not using `async/await` myself but of course PR's are welcome :)

[2017-03-29 11:03] damianobarbati commented on #337
Then you'll be using generators or promises: what about them? :)

On Wed, 29 Mar 2017 at 12:58, Santiago Gimeno <notifications@github.com>
wrote:

[2017-03-29 11:09] santigimeno commented on #337
Not really, I love good old callbacks :)
Jokes aside, I'd **love** adding support for async/await or whatever other async mechanism that's used, but not being a user myself makes unlikely that I add that support myself. Of course I'll happily merge any PR that adds it.

[2017-03-29 11:10] santigimeno commented on #337
And when I say I, I mean me or anyone of the module maintainers.

[2017-03-29 11:10] damianobarbati commented on #337
God may have mercy on you 😂
Got it, I'll try to PR this. Thanks!

[2017-03-29 11:12] adadgio commented on #46
Should be re-opened, not working at all. Maybe issues with time zones, but the docs do not state anything about time zones.. (?)

[2017-03-29 11:14] santigimeno commented on #46
@adadgio can you open a new issue with code that reproduces the issue please? :)

There's no timezone support at the moment, but there's a pending [PR](https://github.com/node-schedule/node-schedule/pull/316) that should add that support.

[2017-03-29 15:09] victor0801x commented on #337
@damianobarbati  async function  support on node > =7.6
I have already use this method like this

[code]
is that same as ?
[code]
for now it work well for me

[2017-03-31 04:57] ralphievolt commented on #263
`rule.dayOfWeek = [0, new schedule.Range(4, 5)];`   to `rule.dayOfWeek = [0, 4, 5];`

does this apply to hour, minutes, and seconds as weel?

[2017-03-31 08:58] santigimeno commented on #263
Yes.

That's not correct. It should be:

`rule.hour = [0, 17, 18, 19, 20];`

[2017-03-31 11:04] damianobarbati commented on #337
wow @victor0801x is correct: I didn't even try but the scheduleJob is already resolving promises if they are returned.
Closing this, thanks!

[2017-03-31 11:04] #337 closed

[2017-03-31 14:47] victor0801x commented on #337
scheduleJob is use old style callback function, but you can pass async function as cb.
I think schedulejob register event, so it doesn't need return new Promise

[2017-04-03 07:01] 3DKIDS opened #338 "what value is return ?"
var j = schedule.scheduleJob(rule, function(){  .....

what is value   "var j"

I can't found  document...

[2017-04-06 08:17] victor0801x commented on #338
you can use for module.exports api like cancleJob(), Invocation()

[2017-04-06 09:51] SystemParadox commented on #267
Updated test code:

[code]

Results:

| node | node-schedule | result |
|--------|---------------------|---------|
| 0.10.25 | 0.1.16 | broken |
| 0.10.25 | 1.1.0 | broken |
| 0.10.25 | 1.2.0 | broken |
| 6.10.0 | 0.1.16 | works |
| 6.10.0 | 1.1.0 | works |
| 6.10.0 | 1.2.0 | works |

This does not really make sense. What's changed in node that would fix this?

[2017-04-06 09:56] santigimeno commented on #267
@SystemParadox thanks for the detailed report. Before looking into this, have you chosen the initial date for a specific reason or should it happen with any date?

[2017-04-06 10:08] SystemParadox commented on #267
The problem seems to come down to this:

[code]

[2017-04-06 10:09] santigimeno commented on #267
okay, have you tried with the latest from the `0.10.x` branch?

[2017-04-06 10:53] rustanacexd commented on #337
works perfectly fine.  here is my code

[code]

[2017-04-06 13:42] SystemParadox commented on #267
Broken: `0.10.48`, `0.11.16`, `0.12.0`, `0.12.2`
Working: `0.12.3`, `0.12.4`, `0.12.9`, `0.12.18`

The only reason 0.10.x is of any interest is because it's the default installation in Ubuntu 14.04 (and yes I realise how old this is). There are so many packages that have already dropped support for it that this probably isn't worth making a workaround for. I'm planning to upgrade to node 6 soon an

[2017-04-09 18:37] ashwanikumar04 opened #339 "Running a job every X seconds does not work"
Hello:
I am trying to run a job every 20 seconds, but the job runs every minute. I am not sure what am I doing wrong.
I tried following schedules.
 ``` "/20 * * * * *"; ```
 and
[code]
What is wrong here?

Thanks,
Ashwani

[2017-04-09 18:46] ashwanikumar04 commented on #339
Got it working
[code]

[2017-04-09 18:46] #339 closed

[2017-04-09 23:29] victor0801x commented on #339
You can new a recursiveRule,  and set the rule's sec to [0, 20, 40]

[2017-04-12 16:36] briancbarrow opened #340 "Usage with Heroku"
I am trying to use this on a heroku app. It doesn't seem to be working though. Am I doing something wrong?

[2017-04-17 01:56] hgrubst opened #341 "CancelNext does not reschedule later invocations when using a cron expression"
I was expecting the following code to cancel one invocation but it is actually cancelling them all :
[code]

The cancelNext function is looking for a recurs field on the recurrenceRule which is not present when using a cron expression :
[code]
Is this intentional and means you can only cancel jobs when using the RecurrenceRules API ?

[2017-04-17 22:17] komplexb opened #342 "Is there any way to obtain the first date value when scheduleJob() is used?"
I need to get the first date, is there a work around?

[2017-04-19 10:23] phdog opened #343 "Schedule hangs in a loop"
Hello! Any help will be appreciated.
I'm, trying to set multiple recurrent events based on my timetable
But the execution just hangs at the first instance(doesn't throw an error). What am I doing wrong?
Thank you in advance.

it is invoked from outer async code, works fine with commented schedule.scheduleJob...

import Promise from 'bluebird';
import schedule from 'node-schedule';
import { parseSc

[2017-04-19 11:57] #343 closed

[2017-04-19 20:56] git0rhero opened #344 "5 digit rule cron is broken"
5 digit rule is broken (used to work):

[code]
Spams 6's, rarely logs a 5.

[2017-04-19 21:08] santigimeno commented on #344
@git0rhero 6 digit rule should execute every second, 5 digit every minute. It's that what you're seeing?

[2017-04-19 21:29] git0rhero commented on #344
@santigimeno Yes that makes sense! No idea where I lost that last * when I used 6 digits before. Guess you can delete this issue, sorry. Now I see the readme indicates seconds as optional. Wasn't too obvious to me.

[2017-04-19 21:29] #344 closed

[2017-04-19 21:31] santigimeno commented on #344
@git0rhero no problem :)

[2017-04-22 15:30] git0rhero commented on #322
I had similar issues after upgrading to node-v6.10.2-linux-armv6l . Schedules stopped working after running for more than an hour. Though running npm test with sinon fake timers all pass. Reverting to v0.10.29 fixed the problem again.
@kquigley-17 what nodejs version do you use?

[2017-04-23 10:43] santigimeno commented on #341
@hgrubst thanks for the report. I think you've found a bug. Any cron job is by definition recursive and should work in the same way as RecurrenceRules. Can you check if this patch fixes the issue for you?

[code]

[2017-04-23 10:49] santigimeno commented on #342
@komplexb does calling `job.nextInvocation()` work for you?

[2017-04-23 10:50] santigimeno commented on #340
@briancbarrow can you give more specifics? Thanks!

[2017-04-23 19:39] komplexb commented on #342
@santigimeno wow, that worked. Was that in docs somewhere and I missed it?

[2017-04-24 13:55] santigimeno commented on #342
@komplexb glad it worked for you. Unfortunately it's not in the docs. Docs are not in good shape and contributions are always welcome.

[2017-04-24 13:55] #342 closed

[2017-04-24 13:57] santigimeno commented on #336
@goto100, yeah, I can reproduce the error. For a fix we'll need to bump the `cron-parser` dependency, but for the moment that won't be possible until https://github.com/node-schedule/node-schedule/pull/316 lands

[2017-04-25 08:54] mrugesh-onehop commented on #45
@mattpat what about every second ?

[2017-04-26 01:51] albertdatui commented on #338
schedule.scheduleJob() returns Job object if  and null object when it is failed to schedule the job

[2017-04-26 01:51] #338 closed

[2017-04-26 01:58] albertdatui commented on #313
@rtodea any updates for this?
If not I can help out with PR. (just want to avoid redundant effort).

[2017-04-26 07:26] rtodea commented on #313
@albertdatui, I will provide an update these days (e.g. Friday).
Thanks for reminding me!

[2017-04-28 01:59] lookforit opened #345 "How to change rule at runtime"
Hi guys,

I have a context like below:
A job is not **totally scheduled**,as the next executed date will be fetched by a remote api call.
It's clear that it's an Recurrence job,but the date rule need to be changed at runtime.

How to use node-schedule under this context?

[2017-04-28 09:56] lookforit commented on #345
I make it work by using native `setTimeout`.
closed.

[2017-04-28 09:56] #345 closed

[2017-04-29 17:05] BigSully opened #346 "0 */3 * * * doesn't work"
I write a script, and import node-schedule to it. When I set it to */3 * * * *, this works , and the script will be execute every 3 minutes, and I can see log from console.
But when I set it to 0 */3 * * *, this wont work. (I want to execute certain function every 3 hour.)
Here is my code snippet:
var j = schedule.scheduleJob('0 */3 * * *', function(){
  checkMariadbStable();
  console.log('Schedl

[2017-05-02 08:59] RalfZhang commented on #293
Some issue happened on my VPS. ( CentOS 6 )

I set a schedule job with '0 * * * *', which mean it would do something every hour.
But after I detached screen session, this job just run one time.
When I reattached the screen session, the jobs, which should run before but didn't run, run immediately.

For test, I set another schedule job with '*/10 * * * *', which means it would do something every 10

[2017-05-02 15:54] santigimeno commented on #346
@BigSully the following test runs correctly with the latest version:
[code]

It outputs:
[code]
So I would say the problem could be caused by code outside node-schedule. If you could give some more details maybe we can find out what's going on.

[2017-05-02 16:16] santigimeno commented on #289
No follow-up. Closing. Feel free to re-open if this is still an issue. Thanks

[2017-05-02 16:16] #289 closed

[2017-05-02 16:19] santigimeno commented on #312
No follow-up. Closing. Feel free to re-open if this is still an issue. Thanks

[2017-05-02 16:19] #312 closed

[2017-05-02 18:11] santigimeno commented on #293
@RalfZhang can you check if it works correctly with https://github.com/node-schedule/node-schedule/pull/347.

[2017-05-03 12:27] BigSully commented on #346
@santigimeno  I included the sinon module in my script file, and the script was executed every 3 hours. So maybe something is wrong. Here is my script, one single file:  https://github.com/BigSully/updateDNS/blob/master/updateDNS.js

[2017-05-05 18:49] ericblade opened #349 ".. all events fire at every schedule, all schedules repeat ?"
Maybe I'm not entirely understanding exactly what is supposed to be going on with this library, so asking here.

When I schedule an event using
    scheduleJob(new Date(dateStamp), () => { console.log('*** running job'); });

If the given dateStamp is in 1 minute from now, it runs the log in 1 minute. It then runs the log every 1 minute.

If I schedule two events, using the same syntax, but 1 minu

[2017-05-06 14:26] santigimeno commented on #349
@ericblade what you describe looks like a bug to me. If you schedule on a specific date, it should only fire once. I'll look into it. Thanks!

[2017-05-06 14:33] santigimeno commented on #349
@ericblade I've tested with this code and works correctly (it fires only once)

[code]

Can you provide a test case that fails for you? Thanks!

[2017-05-06 14:37] ericblade commented on #349
ok .. if/when i get a few minutes, i will see if I can build something completely outside of my other code, that demonstrates .. it seemed really odd to me :)  but the above line was literally what I tried, just to see if it was working correctly.  The source of "dateStamp" is an input from another piece of the program, which I replaced with literally the following:

[code]

oh, i just received yo

[2017-05-06 22:59] ericblade commented on #349
Thanks for the attention, Santiago.  It's looking pretty clearly like I did something really really wrong somewhere, and I don't understand what.  If I was sending new Date() a string, then i'd get back "Invalid Date", which i have no idea what the effect of passing the string "Invalid Date" to scheduleJob() would be.

Anyway, I'll close this until / unless I find something that's triggering it. T

[2017-05-06 22:59] #349 closed

[2017-05-08 17:31] Nisthar commented on #340
@briancbarrow Its not working for me either.

I don't know whats wrong.

[2017-05-08 17:44] briancbarrow commented on #340
@santigimeno I am trying to schedule a script to run from a file that is hosted on Heroku but it won't run. When I run it locally it runs just fine and loads data into my firebase db.  On Heroku though it doesn't do anything.

[2017-05-13 08:35] Ezechiele commented on #325
I can confirm this doesn't work, @albertdatui are you trying to fix it?

[2017-05-13 17:50] albertdatui commented on #325
Hi yeah!! Been looking around for this function.

Will update the thread once I found the solution

Thanks

On May 13, 2017 4:35 PM, "Ezechiele" <notifications@github.com> wrote:

[2017-05-16 13:49] pushpender opened #350 "The schedule expression */8 * * * * does not work as expected."
*/8 * * * * It executes every 8 mins starting from 0th min, 8th, 16th and so on till 56th min. At the end of the hour, it again starts from 0th minute and not from 64th (or 4th) min.
Is it the intended behavior? If yes, then how do I execute a job every 8th min.?

[2017-05-16 14:49] santigimeno commented on #350
Yes, it's the intended behavior. For what you need I think using `setInterval()` could do it.

[2017-05-16 18:08] pushpender commented on #350
Using `setInterval()` is not a solution. I have a list of schedule expression that I read from a JSON and based on schedule expression (for eg. */8 * * * *), it is not efficient to detect whether to use node-schedule or `setInterval()`.

[2017-05-17 16:55] 0joshuaolson1 commented on #346
I think this can be closed.

[2017-05-17 17:02] santigimeno commented on #346
Yay. Thanks!

[2017-05-17 17:02] #346 closed

[2017-05-19 02:09] jephjohnson commented on #340
@briancbarrow - Have you tried using a config var for the timezone in your app settings on Heroku? I am currently running on Heroku and it seems to be working.

[2017-05-19 14:27] briancbarrow commented on #340
@jephjohnson I haven't. Where would I do that?

[2017-05-19 23:50] jephjohnson commented on #340
Its under settings. I've attached a screenshot. For my app I need the scheduling to start in New Yorks timezone. So just set up the timezone you need and Heroku will use the time you specific.
<img width="894" alt="screen shot 2017-05-20 at 9 45 33 am" src="https://cloud.githubusercontent.com/assets/1817084/26270820/bb28440c-3d41-11e7-8373-ab245b6a9308.png">

[2017-05-20 00:00] jephjohnson opened #351 "Setting up Job to run for an entire day but times out after an hour"
I am currently calling a method every 3 minutes that scrapes data and then stores to MongoDB. All seems to be working fine, but after about an hour it times out. Am I able to run a job for 8 hours?  My method is below.

[code]

[2017-05-20 17:22] santigimeno commented on #351
@jephjohnson looking at your code, couldn't it be the issue that `endTime` is a Date only about 1 hour after the current hour?

[2017-05-21 00:22] jephjohnson commented on #351
Hmm, the idea is to have it start at 8:15 AM and end at 5:30pm I was under the impression in you have to use military time to invoke a time using PM?

[2017-05-21 11:03] santigimeno commented on #304
Should be fixed by https://github.com/node-schedule/node-schedule/commit/519917bc8138ebc9a8ad19641a02fbaec89ff69d. Feel free to re-open if it's still an issue. Thanks

[2017-05-21 11:03] #304 closed

[2017-05-21 11:09] santigimeno commented on #336
I'm pretty sure this is fixed by https://github.com/node-schedule/node-schedule/commit/519917bc8138ebc9a8ad19641a02fbaec89ff69d and released in `1.2.2`. Feel free to re-open if it's still an issue. Thanks!

[2017-05-21 11:09] #336 closed

[2017-05-21 17:30] santigimeno commented on #351
@jephjohnson I understand, but imagine you run that code at around 4:30PM, then the job would end in about an hour. Another thing to take into account is Timezones, `setHours()` works setting the hour in the timezone the script is running on.
Anyway, I'm only guessing, can you print the current, start and end dates before scheduling the job in your failing scenario? It can help a lot tracking that

[2017-05-21 18:03] #317 closed

[2017-05-22 08:56] jephjohnson commented on #351
My app is hosted on Heroku, so I am able to config a timezone var. I tested it and it works fine. Here at the logs:

[code]

[2017-05-22 12:48] alexgleason commented on #315
To clarify, does "date" in this context actually mean "day of the month"?

[2017-05-24 00:35] alexgleason opened #353 "RecurrenceRule "date" does not work"
I expect the following to run only on the first day of each month since `"date": 1`, but instead of would run every single day.

[code]

I'm now testing out the following. Hopefully this does what I want.

[code]

[2017-05-24 07:01] jihadwk opened #354 "定时不起作用"
schedule.scheduleJob('0 0 11 1/2 * ?',function(){
//每隔2天11点执行
})

[2017-05-24 15:38] RifeWang opened #355 "how to set time range"
If i want to do the same thing  every 3 min at 09:00--11:30 , 13:30--15:30 every day , how to set time range?

[2017-05-24 16:18] victor0801x commented on #355
startJob: */3 9 * * *
cancleJob: 30 11 * * *

[2017-05-24 20:40] rynobax commented on #353
The test below did not fail when I ran it, so I am unsure of how to reproduce the issue.
[code]

[2017-05-24 21:37] alexgleason commented on #353
Thank you for checking. You can view the full code here to see the context. https://github.com/Uptwinkles/twink/blob/e80d26effe10e3adc48b033280d9b1a47a720e1d/app/server.js#L136

I deployed the change to a cron string this morning so I'll see tomorrow if we're still getting the other error.

Thanks!

[2017-05-24 23:16] jephjohnson commented on #351
@santigimeno -Any thoughts?

[2017-05-25 02:33] RifeWang commented on #355
@victor0801x
[code]
 Is it correct ?

[2017-05-25 06:52] victor0801x commented on #355
maybe you can do like
`
const dateFns = require('date-fns');
let routinJob = {};
let regiterJob = schedule.scheduleJob('30 8 * * *', () => {
    let year = parseInt(dateFns.format(new Date(), 'YYYY'));
    let month = parseInt(dateFns.format(new Date(), 'MM'));
    let day = parseInt(dateFns.format(new Date(), 'DD'));
    let timeConfig = {
        start: new Date(year, month, day, 9, 0, 0),

[2017-05-25 08:18] #355 closed

[2017-05-25 09:14] victor0801x commented on #354
please ask in English, thanks
盡量使用英文提問, 通常才會有人回答

'0 11 */2 * *'

[2017-05-25 10:43] santigimeno commented on #351
@jephjohnson sorry for not following up, I'm a little busy now. I'll try to answer tomorrow

[2017-05-25 14:39] victor0801x commented on #355
@RifeWang sorry, my bad. you can use webAPI to set time like this:
`let _sTime = new Date();`
`_sTime.setHours(9);`
`_sTime.setMinutes(0);`
`let startTime = new Date(_sTime.getTime());`

[2017-05-26 03:57] fov42550564 opened #356 "How to print schedule time list?"
in later, it can show at what time to execute job, we can know the execute time list,
[code]
what about in node-schedule?

cron-parser also can print
[code]
if I can't print the the execute time list, I can't debug longtime schedule。

[2017-05-26 05:35] mchandleraz commented on #351
I'm also seeing similar behaviour, but I'm not sure how long it takes mine to stall/timeout. Definitely more than 3-5 hours.

[2017-05-26 05:59] jephjohnson commented on #351
Thanks for the heads up @mchandleraz - Yeah, it stopped working entirely for me after about 20 minutes. I'm running node v7.6.0

[2017-05-26 06:19] mchandleraz commented on #351
@jephjohnson I just downgraded to 0.10.29... I'll update this thread in a 6-ish hours with whether or not my app died.

[2017-05-26 07:06] jephjohnson commented on #351
@mchandleraz - Cheers, Thanks:)

[2017-05-26 13:14] mchandleraz commented on #351
@jephjohnson No info yet... I started my app and went to sleep, only to discover this morning that it crashed immediately because Node 0.10.29 doesn't support a lot of the ES6 syntax I'm using. d'oh.

I'll probably wire up Babel this afternoon. I'll update this thread as I learn more.

[2017-05-26 17:37] willshowell commented on #356
An officially supported solution would be nicer, but something like the following seems to work

[code]

[2017-05-26 20:46] santigimeno commented on #356
@willshowell that looks nice. Would you entertain sending a PR?

[2017-05-26 20:51] santigimeno commented on #351
@jephjohnson these logs are confusing. If I read them correctly, the date when the code runs (`now`) is well passed the `end` date. In addition, `start > end`. Am I missing something evident?

[2017-05-26 22:49] jephjohnson commented on #351
Doh, sorry. I change something. Here they are

[code]

This is the method:

[code]

[2017-05-27 00:40] fov42550564 commented on #356
thank you very much

[2017-05-27 00:45] fov42550564 commented on #356
I close this issue, if @willshowell sending a PR create another issue please.

[2017-05-27 00:45] #356 closed

[2017-05-27 06:04] mchandleraz commented on #351
After downgrading to node 0.10.29 and using babel to transpile my es2015 code, my app ran for about 13 hours today. Might be worth trying- It was pretty simple via nvm.

[2017-05-27 11:23] liufengsoft commented on #354
please try "0 0 11 */2 * *"

[2017-05-31 12:01] jephjohnson commented on #351
Downgrading is not really a small solution for me.

@santigimeno - Any thoughts?

[2017-06-01 15:17] alexgleason commented on #353
I've just confirmed,

* With `date` set to `1` it **did not work as intended.** It ran every day.
* With a cron string set to `30 6 1 * *` it **worked**. Today I got the notification, but yesterday and the day before I did not. Today is the first of the month, and the other days were not.
* No other code was changed between these two tests.

You can see in Uptwinkles/twink@e80d26effe10e3adc48b0332

[2017-06-05 13:59] eaconner opened #357 "Scheduling in a for() statement"
I'm attempting to schedule tasks based on a json file using a for statement. When I use the following code the tasks run at the correct time but the function doesn't return the correct data. In this case it returns "job2" for both tasks. Any ideas?

[code]

[2017-06-05 18:55] eaconner commented on #357
Still not sure why this won't work but I did find a solution. If you create the job in a separate function it seems to work fine. Hopefully this helps someone else.

[code]

[2017-06-05 18:55] #357 closed

[2017-06-06 19:18] patientplatypus opened #359 "Minor quibble - docs need to be more specific on time zone"
Hi.

I've noticed while using your application that the docs say to use time, but I assumed that this needs to be based on GMT, so I offset my time accordingly. It would be nice to have a slight change to the documentation online to let users know that it is set up to use your own local time by default.

Thank you.

[2017-06-08 06:24] anroopak opened #360 "Is there a method to list all the existing schedule jobs?"
Is there a method to list all the existing schedule jobs?

[2017-06-10 02:11] David2685 opened #361 "The schedule expression 0/5 * * * * * does not work as expected."
I want it to work every five second.

the code is here:

var test = schedule.scheduleJob('/5 * * * * *', function(){
    console.log(''+new Date());
});

the result is here:

Sat Jun 10 2017 10:05:00 GMT+0800 (CST)
Sat Jun 10 2017 10:06:00 GMT+0800 (CST)
Sat Jun 10 2017 10:07:00 GMT+0800 (CST)
Sat Jun 10 2017 10:08:00 GMT+0800 (CST)
Sat Jun 10 2017 10:09:00 GMT+0800 (CST)
Sat Jun 10 2017 10:10:00

[2017-06-12 16:49] eaconner commented on #361
You are missing a `*` before `/5`.
[code]

[2017-06-13 15:58] luchillo17 commented on #361
It's as @eaconner says, it's a matter of syntax, `* * * * * *` will run every second, so if you split the second part with `*/5` it will run every 5 seconds.

This issue was about lack of understanding of the recurrence rule, and can be closed now.

[2017-06-13 17:14] luchillo17 opened #362 "[Bug] Update from 1.2.1 to 1.2.3 hangs electron app"
So i have an app made in electron running fine with version `1.2.1`, i update to `1.2.3` (with yarn but i don't think it matters), it freezes and shows this in lower bar:
![image](https://user-images.githubusercontent.com/9698639/27095002-bae1f29c-5031-11e7-87b0-dbad9ec75612.png)

After some time it shows in Mac's activity monitor it shows like this:
![image](https://user-images.githubusercontent.

[2017-06-13 17:22] santigimeno commented on #362
It's quite possible https://github.com/node-schedule/node-schedule/commit/519917bc8138ebc9a8ad19641a02fbaec89ff69d is the culprit. Can you confirm that?

Anyway we would need more info on the issue, can you provide some code that reproduces it?

[2017-06-13 17:23] santigimeno commented on #361
Closing then. Feel free to re-open if it's still an issue.

[2017-06-13 17:23] #361 closed

[2017-06-13 17:24] santigimeno commented on #360
@anroopak does [`scheduledJobs`](https://github.com/node-schedule/node-schedule/blob/master/lib/schedule.js#L648) works for you?

[2017-06-13 17:39] luchillo17 commented on #362
Yeah, i was looking to the deps that get installed when i update and when i saw `cron-parser` i though the same.

Some code? unlikely, that would require to create an electron app, but there's hope, my app is open source, steps:
- Clone develop branch https://github.com/luchillo17/Electron-Webpack/tree/develop
- Install with yarn (I'm using yarn, i say install with yarn to make use of the `yarn.lo

[2017-06-13 17:45] santigimeno commented on #351
@jephjohnson not sure what's going on. It could be a timezone issue causing the process to be stuck in a tight loop, it has happened before. A couple of things to check:
- What version of the `node-schedule` are you using? If you're using versions prior to `1.2.2` it's possible updating to the latest version could fix the issue.
- Instrumenting the code to check if the tight loop issue is what's a

[2017-06-13 17:52] santigimeno commented on #353
Unfortunately cannot reproduce it either neither with version `1.2.1` nor `1.2.3`.

[2017-06-13 17:58] alexgleason commented on #353
That is really strange. Did you let it run overnight to rule out errors in testing tools? It's totally possible there's something else going on here, but it was pretty clear that changing to a cron string fixed it.

[2017-06-13 18:09] santigimeno commented on #353
Just tested with `sinon` `fakeTimers`. I can do it without it but can you provide more specifics on how it fails? Does it always fail from the start (from day one) or have to wait some months for it to happen?

[2017-06-13 18:12] alexgleason commented on #353
It always fails from the start. We had this in operation for multiple days, and each day it would trigger the job despite having `date` set. For instance, `{ "date": 1, "hour": 6, "minute": 30 }` would trigger on the 15th at 6:30, the 16th at 6:30, the 17th at 6:30... and so on.

[2017-06-13 18:13] santigimeno commented on #353
The code I'm using is this:
[code]

The output looks like this
[code]

[2017-06-13 18:14] santigimeno commented on #353
Ok. I'll let the sample code running for a couple of days without the `sinon.fakeTimer`. Let's see how it goes.

[2017-06-15 10:24] Mastermaulik opened #363 "[Doubt] Running multiple containers on same host"
I have set up node-schedule to send emails at specific times. When I am running 5 instances of container on same host, only one of the containers is sending the email, this is the desired behaviour as I only want a single email to be sent to the user irrespective of the number of instances.

Is there some persistence mechanism to make sure that only single instance gets processed if all instances

[2017-06-15 12:24] manikumar446 opened #364 "Not able to run Mocha tests with node-schedule."
I've setup a suite of tests in mocha using Sinon and Chai.
What I'm aiming for is that the tests will run daily and then email the results to my team.
So I installed below npm modules,
1. node-schedule: To run tests daily
2. mocha-runner-reporter: To send the test report as email.
The tests are all running and sending email as expected only first time. From second time on wards it's not running th

[2017-06-16 09:02] santigimeno commented on #353
@alexgleason had the test running for almost three days and, unfortunately couldn't reproduce the issue :(

[2017-06-17 06:44] phongdangthanh opened #365 "ReferenceError: setImmediate is not defined"
Hi,

I have used a node-schedule in my project. When I set 30 seconds to get the data from server site. Sometimes I got the error message as below:

**core.es5.js:1085 ERROR ReferenceError: setImmediate is not defined
    at runOnDate (schedule.js:497)
    at prepareNextInvocation (schedule.js:526)
    at currentInvocationFinished (schedule.js:551)
    at schedule.js:527
    at ZoneDelegate.webpac

[2017-06-20 08:20] katp4 opened #366 "Group and delete multiple jobs at a time by category"
As part of my project i had to extend this module to add an additional non-unique property called "category" so i can group the jobs. That gives the ability to retrieve and delete jobs by category as opposed to deleting one at a time.

If anyone else would find this feature useful, please let me know and i can try and add it in.

[2017-06-21 14:39] rynobax commented on #365
Is this code running in a browser?  This library is intended to be run in the context of Node.  I would guess the error is caused because the browser does not support [setImmediate](https://developer.mozilla.org/en-US/docs/Web/API/Window/setImmediate).   If you just want to call a function every 30 seconds, you can use [setInterval](https://www.w3schools.com/jsref/met_win_setinterval.asp).

[2017-06-21 15:10] rynobax commented on #364
I checked the code and node-schedule is correctly firing the runReportAndSendEmail function.  Seems like it is a bug with mocha-runner-reporter or your test code.

[2017-06-22 16:01] kenanchristian opened #368 "Firing job one time"
Hi, what I want to achieve is delaying the task 30 min after it's called. Is this code snippet a good way of doing it?

[code]

or there's another way to do it better?

[2017-06-22 16:42] santigimeno commented on #368
Maybe I'm missing something but what about using `setTimeout()` directly?

[2017-06-22 17:19] kenanchristian commented on #368
@santigimeno I'm afraid I will get `ENOMEM` error when I call `setTimeout()` many times. Or it won't cause that error?

[2017-06-22 17:34] santigimeno commented on #368
Does that error exist? TBH it's the first time I've heard about it. How many timers/jobs do you plan to run at the same time?

With this code I've been able to have more than 800K timers setup at the same time
[code]

[2017-06-22 17:46] santigimeno commented on #368
Anyway, if you want to use `node-schedule` you can use a `Date` directly. See [this test](https://github.com/node-schedule/node-schedule/blob/master/test/job-test.js#L42-L57) as an example.

[2017-06-27 04:49] manikumar446 commented on #364
I found work around for this issue. [Check it here](https://github.com/mochajs/mocha/issues/2887)

[2017-06-27 15:55] PsyTae commented on #328
This solves my Problem.

[2017-06-27 15:55] #328 closed

[2017-06-27 16:09] santigimeno commented on #359
Agreed. Would you consider sending a PR to improve the documentation? Thanks!

[2017-06-28 01:41] kenanchristian commented on #368
@santigimeno Yes that error exists, but maybe I'm a bit paranoid. After I've done some research, I think it only happens in child_process.

OK, I've successfully created a schedule with a date like the one from your test, my question is. How can I create multiple jobs, and I want to cancel on of them?

From what I see, the example always assigns the job to a variable then cancel it using a method

[2017-06-28 15:38] santigimeno commented on #364
@manikumar446  thanks for following up. Closing this then. Feel free to re-open if it's still an issue

[2017-06-28 15:38] #364 closed

[2017-06-29 04:36] jithu21 commented on #313
Any update on this issue??

[2017-06-29 08:28] Clbt opened #369 "Job still fired after .cancel()"
Hello there,

We're having a weird issue with node-schedule.  When having a lot of jobs firing at the same time (a lot = more than 20) and deleting another job one day after it was created, this job is still fired on its due time, every day.

Here's our process:
We have three kinds of jobs, and we're saving each of them in an array.
[code]
After initializing this array, we process our recurrence r

[2017-07-01 16:08] santigimeno commented on #369
Thanks for the detailed report. I can't seen anything obviously wrong with what you're doing. A reduced test case could be of great help, though I understand it's not going to be easy.

No, that I can remember.

You could always add logs to the library code. It's not that complicated and could shed some light. Also you could add a `console.trace()` to the callback to see who's calling that.

[2017-07-07 08:48] Clbt commented on #369
Hi, thanks for the answer!

We've tried putting in place a test case using `lolex` in order to fake time passing, with the `clock.tick() ` function, however we aren't able to reproduce.

We'll try putting in place a reduced test case in the following week so that you can get a deeper understanding on this issue. As you said, it's not going to be easy and we're not sure to succeed. As time faking d

[2017-07-24 08:38] Benny739 opened #370 "Job runs 2 or 3 times instead of 1"
I have a job, setup, to run every night, but in the end, the job runs 2 or 3 times every night.
I call this function once in my index.ts.
`
    runEveryNight(fct: () => void): void {
        cron.scheduleJob({ hour: 4, minute: 19, second: 5 }, () => {
            console.log('Running Once a Night');
            fct();
        });
    }
`
This night the job ran at 1500862745797, 1500862745825 and 1

[2017-07-24 10:36] Apollon77 opened #371 "Option to return "nextFireDate" for a Job"
Hi,

I use cron schedules in some places. Many of them are dynamically defined based on a weekly time matrix when thinks should happen. (e.g. Mo at 9:30, Tue at 12:30 and such). So after one action is completed it searches the next and set a schedule for this. For display purposes it would be great to have an option to get the Daten of the next fire planned on the schedule for this job.

so a meth

[2017-07-26 09:06] askdesigners commented on #268
Could also be done with redis, static files or whatever :)

[2017-07-26 13:59] santigimeno commented on #371
@Apollon77, I think that's already implemented. Does `job.nextInvocation()` work for you?

[2017-07-27 08:01] Apollon77 commented on #371
Cool, you should document that :-)
I test it currently ... had problems in the past weth scheduled jobs for the next day ... so will give another feedback later today :-)

[2017-07-27 08:06] santigimeno commented on #371
You're right. PR are always welcome! :)

[2017-07-27 08:07] Apollon77 commented on #371
will come later

[2017-07-27 14:46] goto100 commented on #369
I have this issue too, but I don't have any clue about why this happens either.

after job canceled, the job has deleted in `scheduledJobs`, but still fires.

[2017-07-27 19:41] Apollon77 commented on #371
Yes, works well.

This issue should close automatically when you merge the PR :-)

[2017-07-31 15:17] gragra100 opened #373 "Dynamic scheduling for GET Requests"
I need some GET requests to run on a specific scheduling which is dynamic and may change later, eg every 2 minutes by default. Now, in the response data I get the scheduling for next time, eg 3 minutes. So I'm trying to find a way to change the scheduling of a running cron.
Is it possible with this module?

Thanks.

[2017-07-31 16:48] rynobax commented on #373
It should be possible.  However, if all you want is to run some code every X minutes, [setTimeout()](https://www.w3schools.com/jsref/met_win_settimeout.asp) should be sufficient for your needs.

[2017-08-07 16:53] articobandurini opened #374 "npm version of the module does not match the github"
Version number is the same here and on npm: 1.2.3
However, using module installed from npm, I stumbled upon an issue with unsupported timezone parameter.
After investigation is turned out that there's a bug on line 193 of file schedule.js:
tz = spec.tz; has to go before spec = spec.rule; - otherwise id obviously doesn't make sense.
After forking the module and working on pull request proposal to f

[2017-08-10 12:44] santigimeno commented on #371
Fixed by https://github.com/node-schedule/node-schedule/pull/372

[2017-08-10 12:44] #371 closed

[2017-08-10 12:45] santigimeno commented on #374
Published as `1.2.4`. Thanks for reporting the issue.

[2017-08-10 12:45] #374 closed

[2017-08-10 18:59] havenbarnes commented on #370
@Benny739 Not sure if this applies to your situation, but this bug appeared for me in situations where you create jobs with the same 'unique' name, perhaps while trying to edit the rules of a job. In this case, once the job actually fires, it will run the same amount of times that you tried to edit this same job.

[2017-08-12 09:12] KingRial opened #375 "Recurrence rule's property "month" is 0 based"
By reading the documentation it seems that the rules should follow crontab's standards:

However the "month" property, to correctly work, should be used as 0 based instead of 1 based.

On August, the current recurrence rule doesn't work:
[code]

Instead the following works correctly:
[code]

[2017-08-12 10:22] jfarago opened #376 "Scheduled Jobs dont always execute on raspbian (Raspberry Pi 3)"
I have been using the scheduler for a few months now and have an issue where the jobs will not always run.

Im running an express server with this scheduler and when a job doesnt run i hit up my web page to manipulate it manually and the moment the page loads, the job runs. Not sure where to start debugging this.

Not all scheduled jobs seem to be affected.

config.json

[code]

scheduler.js

[cod

[2017-08-15 17:16] santigimeno commented on #375
Yes, it seems more like a documentation issue to me. `RecurrenceRule`s syntax is different from the `cron` notation. In this case, `month` follows the `Date.prototype.setMonth` range. i.e: (0-11)

[2017-08-19 17:16] vrushank-klickly opened #377 "this.job.execute is not a function"
I have just started to use this scheduler. I try to run every 20 second and its runs only first time. Second time its show me error "TypeError: this.job.execute is not a function". Please suggest me some solution, so I can solved this issues.

Here's code :-
 let taskSchedule = new schedule.RecurrenceRule();
        taskSchedule.second = 20;
       schedule.scheduleJob(taskSchedule, this.test());

[2017-08-20 06:08] #377 closed

[2017-08-25 11:56] senorcodecat commented on #34
+1

[2017-08-28 11:54] DavidNaMills opened #378 "specifying the Timezone option doesnt have any affect"
regardless of how I set the parameters

[code]
[code]

the schedule is fired. the actual timezone has no effect on the outcome. works in same way as node-schedule

running on windows 10

[2017-08-28 13:07] santigimeno commented on #378
That's expected. This https://github.com/node-schedule/node-schedule/pull/316, once is merged, should add the timezone feature.

[2017-08-28 22:58] nnoto commented on #369
I am also experiencing this issue with cancelJobs() but cannot seem to determine the exact criteria for reproduction. The call seems to be successful, and the job no longer appears in scheduledJobs, but the job still runs. Has anyone determined a solution for this issue?

[2017-08-29 07:12] santigimeno commented on #369
I'm sorry you're experiencing this issue but we would need a reproducible test case to advance on its resolution.

[2017-08-29 18:19] nnoto commented on #369
I was finally able to reproduce this issue fairly consistently with this test.
1. 10000 jobs were scheduled to run every 10 seconds
2. All jobs are cancelled after 20 seconds
3. More often than not, at least one job will continue running, despite witnessing a successful cancellation in the logs. I've ran it a few times where none of the jobs continued running, but on the majority of runs, at least

[2017-08-30 11:01] santigimeno commented on #369
@wux5 sounds about right. PR is welcome. Thanks!!

[2017-08-31 11:50] steven-supersolid commented on #370
We are also experiencing duplicate jobs since upgrading from 1.2.0 to 1.2.3

Will try and investigate further but it's hard to pin down for us as seems to happen randomly.

[code]

[2017-09-01 20:47] wux5 commented on #369
The issue happened with canceling jobs that are delayed and scheduled with setImmediate(), which didn't set timerID to the pending invocation.

In our case we want to cancel any pending invocations no matter if it's scheduled to happen in future or should happen in the past but delayed due to other jobs. So our fix is simply replacing the setImmediate() with setTimeout(..., 0) and return a timerID

[2017-09-02 09:09] basvdijk opened #380 "Timer with 0 30 0 * * SAT-SUN not correctly set"
## Current behaviour
When it is Saturday 11:00 am and I set a timer:
- `0 30 0 * * SAT-SUN` result: no timer is set
- `0 30 0 * * SAT,SUN` result: the timer is for the next Saturday instead of tomorrow when it is Sunday

## Expected behaviour
When I set a timer with `0 30 0 * * SAT-SUN` or `0 30 0 * * SAT,SUN` I expect it to be set to the next matching day. In this example Sunday at 0:30h

[2017-09-02 23:04] BkunS commented on #67
It seems it has been closed for a while, but I'd still hope if the parameters can be passed through methods so that scheduleJob(rule, function(params) {...}) works.

[2017-09-06 01:41] hoangnguyenasnet opened #381 "Timer with first Monday of month is not work: 0 30 0 1-7 * 1"
I set timer with: 0 30 0 1-7 * 1 but it trigger every day in 1-7. I think it should be trigger at first Monday of month instead.

[2017-09-06 08:57] santigimeno commented on #380
@basvdijk thanks for the report! I haven't tested it but it looks like a [cron-parser](https://github.com/harrisiirak/cron-parser) issue. Can you verify that and if that's the case open an issue [there](https://github.com/harrisiirak/cron-parser/issues).

[2017-09-06 08:59] santigimeno commented on #381
Thanks for the report! By the looks of it it seems a [cron-parser](https://github.com/harrisiirak/cron-parser) and looks very similar to [this one](https://github.com/harrisiirak/cron-parser/issues/102). If it's not I would suggest opening a new issue there.

[2017-09-09 10:46] acrocat opened #382 "How does the date-based scheduling work? Is it performant/reliable at a large scale?"
Would there theoretically be any issue with me scheduling thousands of events to trigger at specific dates?

[2017-09-12 07:14] arunkumarpalaniappan opened #383 "Question: I wanted to schedule for every x hours and n minutes"
How do I implement schedule for every x hours and n minutes.

Eg: Schedule for every 2 hr and 13 mins.

[2017-09-12 08:31] dbrezoev opened #384 "Quartz format support"
Is it possible node-schedule to work with quartz format ? I put this 1 0/1 * 1/1 * ? * cron which is valid quartz cron and it is not working. No error also.
Thanks in advance

[2017-09-13 14:44] fabiomor opened #385 "Cron x/y pattern not working as espected"
Hi,

I noticed that pattern x/y, as every y starting from x is not wotking

According to crontab.guru [this](https://crontab.guru/#0/2_*_*_*_*) pattern should produce:

But in the attached code i've noticed a different behavior (applied to seconds for brevity). It triggers just at the very start of every minute insted of every 2 seconds starting from second 0

`var event = schedule.scheduleJob("0/

[2017-09-14 10:45] dbrezoev commented on #384
Anyone ?

[2017-09-15 09:07] petrovi4 commented on #382
+1

I'm also interested in this question

[2017-09-15 12:13] mostman1043 commented on #370
This is absolutely a regression post `1.2.0` - We use node-scheduler in many places and had never seen this prior to moving beyond `1.2.0`; rolling back to that version resolves the issue. There are very few changes between now and then, so finding the root cause shouldn't be too difficult. Until then, if you happen across this on a Google search, just lock your version number.

[2017-09-18 11:36] #369 closed

[2017-09-18 12:42] santigimeno commented on #384
Only formats supported in [cron-parser](https://github.com/harrisiirak/cron-parser) are supported. By looking at [this issue](https://github.com/harrisiirak/cron-parser/issues/104) it seems that's not the case.

[2017-09-18 12:42] #384 closed

[2017-09-18 12:43] santigimeno commented on #384
Of course, feel free to re-open once `cron-parser` adds that support. Thanks

[2017-09-18 12:45] santigimeno commented on #385
This module uses [cron-parser](https://github.com/harrisiirak/cron-parser) for the cron syntax support. Can you check with their latest version if that's an issue and open an issue at their repo. Thanks!

[2017-09-18 12:46] santigimeno commented on #383
What about using `setInterval()` ?

[2017-09-18 12:48] santigimeno commented on #370
Okay. It there's a regression, a reduced test case would really help. Running `git bisect` would also help!!

[2017-09-19 09:59] LeoMartinDev commented on #382
+1

[2017-09-21 07:45] fabiomor commented on #385
Thanks man, i'll check it out

[2017-09-21 08:36] codetian opened #386 "Execute a job every 5 second"
How do i create a job that is executed  every 5 second ?
  I set a job like " /5 * * * * *" , but It dot work

[2017-09-22 11:20] victor0801x commented on #386
try  '*/5 * * * * *' or '0-59/5 * * * * *'

[2017-09-24 11:13] basvdijk commented on #380
Thanks, it looks like the issue is indeed the cron-parser, made a issue report at https://github.com/harrisiirak/cron-parser/issues/107

[2017-09-24 20:58] lmenus opened #387 "Job Executing multiple times (50x+)"
Hello,

I meant to ask about this issue I am experiencing. I define my job like this
[code]
and it runs usually fine. I have it running locally through `nodemon --watch` and one of the things it does is to email me if an event happened. On occasions though, I will receive 50+ emails at the exact same time.

We can see it happening here ([Console log](http://tinypic.com/view.php?pic=2qvw0t2&s=9#.Wc

[2017-09-25 06:58] codetian commented on #386
ok

[2017-09-25 07:26] codetian commented on #386
it has worked....

[2017-09-25 07:27] codetian commented on #386
it is working when i  try  '*/5 * * * * *'

[2017-09-26 10:49] moeinrahimi commented on #67
any idea how to achieve this ?

[2017-09-26 18:23] tejasmanohar commented on #67
I've been away from JavaScript land for a year now, but looking back, I don't really see why it's necessary for node-schedule to do this.

Can't you just manage your state agnostic to node-schedule  and call other functions to get it inside the scheduling function? If you're keen on arguments, you could also `bind` some `Object`s (references) to the function you pass the the schedule func.

[2017-09-28 09:19] leesm0218 opened #388 "Question: next schedule don't care before's status?"
two job's will spend 10 min each.

i call one job and will call after 5 min.

if first job finish or running, fail or success. next job start correct time?

[2017-09-28 09:22] santigimeno commented on #388
Yes, it should run.

[2017-09-28 09:22] #388 closed

[2017-09-28 09:24] leesm0218 commented on #388
thanks @santigimeno

[2017-09-28 09:27] santigimeno commented on #387
Honestly I don't know there's much we can do except for recommending not to run node-schedule on a machine that goes to sleep. https://github.com/node-schedule/node-schedule/issues/96

[2017-09-28 09:29] santigimeno commented on #382
I don't think there should any problems. Have you found any issues? I would be very interested on looking into it.

[2017-09-28 09:36] santigimeno commented on #376
There have been issues with nodejs timers on rpi. See: https://github.com/node-schedule/node-schedule/issues/218, https://github.com/nodejs/node/issues/4262. Apparently some of them should be fixed on v8.1.2, can you test with that?

[2017-09-29 21:01] lmenus commented on #387
@santigimeno I would like to understand what actually happens behind the scenes, it's just my theory that's what causes it. Saying don't put machine to sleep is like having an unhandled exception for variable of integer type and debugging it by saying "just don't use integers." It will make the problem go away (likely), but no one will be any smarter about what causes it.

[2017-09-30 11:44] jfarago commented on #376
@santigimeno i will give that a shot, thanks.

[2017-10-01 23:31] adambuczek opened #389 "Async function inside a job. Error handling."
Hi! I find this package very useful. It lets me schedule an action in a docker container which dissolves after the job runs.

I have a problem with error handling inside a job. I pass a curried async `a.bid(o)`. When the promise is rejected the error doesn't get caught. What should I do to make it work?

[code]

[2017-10-02 06:36] adambuczek commented on #389
I figured it out.
[code]
I needed to catch it in its context. Is there anything like an `job.on('error')` that would facilitate handling errors inside an actual job?

[2017-10-02 15:15] santigimeno commented on #387
I think the problem is well understood. See: https://github.com/node-schedule/node-schedule/issues/96#issuecomment-83578479. It was decided back then not to do anything about it. If you have a proposal we can discuss that.

[2017-10-02 18:15] lmenus commented on #387
@santigimeno Ah I must've missed the reference the other day. Yes, that thread explains it quite well, thank you!

[2017-10-03 06:39] maxym-plotnikov commented on #325
Hi! I used Node 'co' module for that.
 let job = schedule.scheduleJob(date, function(x) {
   co(function* () {
     let variable = yield ...
   }
}.bind(null,x))
P.S. Works with AdonisJS

[2017-10-03 06:42] maxym-plotnikov commented on #389
Did You try to use Promise with catch inside job?

[2017-10-03 07:14] adambuczek commented on #389
`Client` is a SOAP connection manager. all it's methods are async. That is exactly what I ended up doing.
I hoped for a solution without an additional `catch` but I guess a job has to be treated as self contained.

[2017-10-04 06:22] jonathan-nielsen commented on #263
I'm having this issue now.
The following code run twice:
[code]
This results in executions at: `2017-10-03T22:29:59.875Z` and `2017-10-03T22:30:00.006Z`.

This code works though:
[code]
It was executed once at `2017-10-03T23:00:00.005Z`.

[2017-10-06 21:00] Tuzizon opened #390 "Rule dayOfMonth"
Is there a rule to run a specific day of the month?
For example, every 5th day of every month.
It could function exactly like the dayOfWeek parameter.
would work like a charm!
Thanks

[2017-10-10 11:26] JhinDeng commented on #325
you can try
[code]

[2017-10-10 20:59] 4fthawaiian commented on #382
+1 for this - I need to know more about the internals of this before deploying into production. I'll have to dig into the source for now, but more info would be amazing.

[2017-10-10 23:46] Karthikmuthupandi opened #391 "Module not found: Error: Can't resolve './locale'"
Hi All,

Suddenly we are facing the below issue,

Module not found: Error: Can't resolve './locale'

Could you please advise to resolve this issue.

Thanks,
karthi

[2017-10-16 05:28] ariadnalls commented on #390
54 16 5 * *
“At 16:54 on day-of-month 5.”

[2017-10-16 05:31] ariadnalls commented on #381
Same issue here...
I was trying to do:
'5 17 1,2,3,4,5,6,7 10 7'

and I got
next invocation: Sun Oct 22 2017 17:05:00 GMT-0700 +4ms

I've tried
'5 17 1,2,3,4,5,6,7 10 7'

but I got the same result

[2017-10-17 19:35] Tuzizon commented on #390
ty u so much @ariadnalls

[2017-10-17 23:11] Chronicless commented on #263
I have the same issue. Job runs 3 times in the same time (difference only in miliseconds)

[2017-10-21 08:04] hsnkh opened #392 "node-schedule run just first week and it stopped from 2nd week"
i want to run my job every week but it run just in**first week**
not working in other weeks (from 2nd week not working )

my code :
[code]
@mattpat

[2017-10-24 09:11] damianobarbati commented on #378
+1 for this!! Any known release date for this feature? :)

[2017-10-25 11:14] frankie-ug commented on #382
+1

[2017-10-25 18:47] davidnjohnson commented on #263
I'm having this issue intermittently with 1.2.5.  When I set up a minute-based recurrence rule, it will occasionally trigger the rule multiple times.  There's only one job scheduled, and no clusters are involved.

Here's test code.  Note the counter:
[code]
And here's what happens:

Some kind of rounding problem, maybe?  Or just that the job not  being marked as triggered the next time the schedul

[2017-10-27 14:45] #366 closed

[2017-11-04 10:16] jfarago commented on #376
@santigimeno Unfortunately, I could not update node as I am on a pi zero but I was able to set a 5 minute interval to act as a keep alive. Thanks for the help.

[2017-11-06 10:42] milad145 opened #394 "mongoose promise schedule"
i have a mongoose service like this
[code]
and this is my schedule code

[code]
but i don't get any payload or error
can you help me?

[2017-11-06 19:08] testtshoretel commented on #378
Yes. I am waiting for this API. Where is this API document?

[2017-11-12 01:23] mugworts opened #395 "rule.dayOfWeek = 7 not execute"
`set dayOfWeek = 7 `, that not execute, but `set dayOfWeek = 0 `,sunday can execute.

[code]

[2017-11-12 01:39] mugworts commented on #395
The cron format consists of:

[code]

but in /lib/schedule.js [361/362 line], `this.dayOfWeek ` **can not set > 6**

[code]

[2017-11-14 18:07] santigimeno commented on #395
@mugworts yeah, cron format is different from `RecurrenceRule` format. `dayOfWeek` valid range is (0-6). I guess documenting this would be a good idea :)

[2017-11-14 18:09] santigimeno commented on #391
@Karthikmuthupandi can you describe how can I reproduce the issue?

[2017-11-14 18:09] santigimeno commented on #390
I guess this can be closed. Reopen if the issue is not solved

[2017-11-14 18:09] #390 closed

[2017-11-14 18:10] santigimeno commented on #383
Closing as there's no follow up. Please feel free to reopen if you think this is still an issue.

[2017-11-14 18:10] #383 closed

[2017-11-14 18:11] santigimeno commented on #386
Closing it as the issue seems solved

[2017-11-14 18:11] #386 closed

[2017-11-14 18:18] santigimeno commented on #376
I'm going to close this. Please reopen if you  think it should be

[2017-11-14 18:18] #376 closed

[2017-11-14 18:19] santigimeno commented on #368
Yes that's correct.

[2017-11-14 18:19] santigimeno commented on #368
Closing it. Please reopen if there's anything else that needs to be addressed

[2017-11-14 18:19] #368 closed

[2017-11-14 18:20] santigimeno commented on #373
No follow up. Closing it. Feel free to reopen though

[2017-11-14 18:20] #373 closed

[2017-11-14 18:21] santigimeno commented on #365
No follow up. Closing it. Feel free to reopen if you need something else to discuss

[2017-11-14 18:21] #365 closed

[2017-11-14 18:23] santigimeno commented on #353
Closing it. Feel free to reopen if you can provide some more info about how to reproduce the issue. Thanks

[2017-11-14 18:23] #353 closed

[2017-11-14 18:24] santigimeno commented on #360
No follow up. Closing it.

[2017-11-14 18:24] #360 closed

[2017-11-14 18:24] santigimeno commented on #354
No follow up. Closing it.

[2017-11-14 18:24] #354 closed

[2017-11-14 18:25] santigimeno commented on #293
No follow up. Closing it

[2017-11-14 18:25] #293 closed

[2017-11-14 18:29] santigimeno commented on #267
@SystemParadox sorry for the delayed response.

I think I agree with you. I don't think making a workaround is worth it.

Thanks!

[2017-11-14 18:29] #267 closed

[2017-11-14 18:29] alexgleason commented on #353
Thanks for your efforts on this. Really strange issue. The cron string worked fine so we're happy. Still, very unusual.

[2017-11-14 18:30] santigimeno commented on #341
@hgrubst ping

[2017-11-14 18:32] santigimeno commented on #313
Not really, @rtodea was supposed to send a PR

[2017-11-14 18:36] santigimeno commented on #263
@davidnjohnson thanks for the report. Indeed it seems there's a bug. I'll try to look into it.

[2017-11-14 19:32] Karthikmuthupandi commented on #391
Now its working. please close

[2017-11-14 19:48] #391 closed

[2017-11-15 15:04] arunkumarpalaniappan commented on #383
@santigimeno using `setInterval()` asynchronously can solve this, but It would be better if we have a custom schedule method.

For Example:

Let's say I'm scheduling for every 2 mins, starting from 10:00 am, Once it runs at 10:02,it should reschedule itself to 10:04 like

`return Schedule.scheduledJobs[id].reschedule({`
`start: newfireDate,`
`end: endDate,`
`rule: rule}, function ({`
`//logic here

[2017-11-18 18:42] santigimeno commented on #263
@davidnjohnson @jonathan-nielsen can you check if https://github.com/node-schedule/node-schedule/pull/396 fixes the issue for you?

[2017-11-18 19:23] santigimeno commented on #385
@fabiomor I've been looking into this and TBH after reading the [crontab manual](http://www.manpagez.com/man/5/crontab/) I'm not sure that format is correct:

I'm not completely sure that using a value with step values is a valid crontab expression. It seems that only ranges and * are valid. /cc @harrisiirak

Anyway, for your use case you could always use `0-59/2 * * * * *` and it should work.

[2017-11-18 19:31] santigimeno commented on #381
@hoangnguyenasnet okay, I've looked into this and think you're interpretation of what it means in not correct. My interpretation is: “At 00:30 on every month from the 1st to the 7th **and** on every Monday". And that's how the code is working

[2017-11-18 19:34] santigimeno commented on #381
@ariadnalls what do you want to achieve with those expressions. My reading of your first expression is:
"At  17:05 on every month from the 1st to the 7th and on every Sunday on October"

[2017-11-18 19:37] santigimeno commented on #370
@Benny739 @steven-supersolid @mostman1043 can you check if https://github.com/node-schedule/node-schedule/pull/396 fixes the issue for you? Thanks!

[2017-11-19 01:18] ForsakenHarmony commented on #121
Please fix this, don't blame the user for a freeze

[2017-11-19 10:29] santigimeno commented on #121
@ForsakenHarmony the project is open source. Feel free to send a PR if you think there's something to be fixed here. I'll gladly review it.

[2017-11-20 13:01] steven-supersolid commented on #370
I wonder if #379 might actually fix it?

[2017-11-20 13:10] fabiomor commented on #385
ty man, in fact there was a warning stating that the non standard format. I modified the code according to your suggestion.

Great work btw ;)

[2017-11-20 13:16] santigimeno commented on #385
Closing then. Thanks!

[2017-11-20 13:16] #385 closed

[2017-11-22 16:14] AriLFrankel commented on #340
Why is it necessary to specify a timezone for this package to work on Heroku?

[2017-11-24 07:11] bulentkusva opened #397 "endTime EventEmitter('end' function(err,data) call func --- is it possible?"
var schedule = require('node-schedule');
var EventEmitter = require('events');
let startTime = new Date(Date.now() + 5000);
let endTime = new Date(startTime.getTime() + 5000);
console.log("endTime  : " + endTime );
var j = schedule.scheduleJob({ start: startTime, end: endTime, rule: '*/1 * * * * *' }, function(){

  console.log('Time for tea!');

});
schedule.Job.super_.EventEmitter('end', functio

[2017-11-28 05:47] nirajtathe opened #398 "Only last job is executing from all the scheduled jobs"
I have created 2 jobs with different names and execution time. But it is only excuting the second job at 1st job execution time and 2nd as well. I have tried with 1.2.5, 1.2.0 and 1.0.0 versions but still facing the same problem. I have saved the jobs and printed it, it is showing correct job name(I had assigned the name). I am unable to find the solution.

Below is the code:

// please change the

[2017-11-28 07:54] santigimeno commented on #398
What do you mean by this?

[2017-11-28 08:43] nirajtathe commented on #398
// please change the time before execution => I just wanted you to update the time before execution :)

Can you explain the problem with my code? Are there any mistakes?

[2017-11-28 18:30] baptistemanson commented on #398
I cleaned up the code a little bit.
[code]

I changed the rules to get both executed at the time I tested. Everything worked great. Hope that helps.

Please note that your rule said every Monday, Tuesday and Wednesday at 9:33 AM.

[2017-11-29 05:41] nirajtathe commented on #398
@baptistemanson Your code works fine. But when I tried to pass the job name from anther array, it is not able to fetch the last data. Therefore it is taking the latest data.
I have a question, What happens when we schedule a job?
It should have taken the copy of the data passed to it and executed it. But in my case it is still looking for the data. I do not know the working of scheduleJob().

[2017-11-29 06:20] nirajtathe commented on #398
@santigimeno I have found the solution. Earlier I did know what was I looking for. I wanted to bind the data. I found that in the documentation.
Thanks for your time.
Closing this issue.

[2017-11-29 18:07] jonathan68 opened #400 "How to run a job once a day?"
Thanks for your library! I am using this library to run a job once a day.
I used this pattern.
`* * 23 * * *`
But this calls every 23:00:00~23:59:59.
I want to run once a day.
How can I set the pattern?

[2017-11-29 19:51] wux5 commented on #400
Your cron means every second between 23:00 and 23:59. To run it once a day you'll need to set the cron to 0 0 23 * * *

[2017-11-29 19:53] jonathan68 commented on #400
Ah, gotcha. Thank you very much!

[2017-11-29 19:53] #400 closed

[2017-11-29 20:27] wux5 opened #401 "feature request: return firedate when invoking job"
In our product we'd like to keep a history of all jobs triggered from node-schedule, with the scheduled/fire date (not actual date when it got invoked...we have a mechanism to retrigger jobs in the past which might have been skipped during our maintenance window, we use this firedate to avoid duplicate job runs if someone retriggers the job by mistake). Seems that's not currently supported, my ide

[2017-12-03 15:53] at-cuongtran opened #403 "Start and end at a specific time of each day."
Hello There,

I am currently working on a project that required a little more complicated schedule. I have tried everything but still cannot make it works. let say I need to schedule a job like this:

 - start and end at a specific time
 - run on specific days of the week,
 - each day, start and end at a specific time of day,
 - each hour, start at a specific minute.

For example: start from `2017

[2017-12-04 11:18] at-cuongtran commented on #403
Finally, I have to nest another schedule inside callback as a workaround.
For the above example, I'll do like this, using date-fns to set hours and minutes.
[code]
I think this work just fine, might have to change the millisecond abit to make it sync up but it's ok. closing this issue.

[2017-12-04 11:18] #403 closed

[2017-12-11 20:54] ElishaKay commented on #16
Would be helpful

[2017-12-14 17:00] Ether0x commented on #251
The schedule '0 0 * * *' doesn't fire. Any known issues on this?

[2017-12-14 17:36] wagng opened #405 "How to run a schedule every 2 hours?"
I want to run a schedule every 2 hours.
I tried these 2 patterns. But none of them is working.

[code]

I'd appreciate any help.
Thank you!

[2017-12-14 18:03] #401 closed

[2017-12-18 06:44] rsalunga29 commented on #263
I am experiencing this issue, it calls my function twice or thrice (it varies). Are there any fix for this? I have the latest version of node and node-schedule

code:
`schedule.scheduleJob("40 * * * *", function(){
  test_function();
});`

[2017-12-18 09:20] santigimeno commented on #263
@rsalunga29 can you check if https://github.com/node-schedule/node-schedule/pull/396 fixes the issue? Thanks

[2017-12-18 12:37] damianobarbati commented on #217
wow, got back here after 1 year for the same reason. still no support for timezone?

[2017-12-19 02:22] yangxiaolin opened #406 "want every 40 second fire. but is not work correctly"
**this is my code**

[code]

i want every 40 second fire a work. but at 40, 00 fired. how to do this. thank you

[2017-12-25 00:56] tonyayna commented on #340
Got same problem. I try to call a function from another file during process. Heroku didn't found the function. It run perfectly fine when run locally.

[2017-12-26 20:51] ThoseGuysInTown commented on #359
Yeah this would help a lot, or some way to specifically set the timezone for each job. Thanks!

[2017-12-27 07:14] victor0801x commented on #405
`0 0 */2 * * *` will run every 2 hours after  nearest_hour:00:00
need to specify min and sec

[2017-12-27 15:54] denniscual opened #407 "Not getting the instance of the node-schedule."
I tried the example in your documentation but why Im not getting the return Job.
This is the snippet that I used
[code]
And when I tried to use the other sample inputDates, it is working.

[2017-12-28 04:30] denniscual commented on #407
I just want to follow up on this issue. This bug occur when the date that you set is an old date. I think scheduleJob need to throw an error if you set an old date because that is totally invalid. But developers that are not familiar or newbie on this library does not know about that behaviour. And sometimes before you use some tool, you're giving time to play around the new tool. Maybe we can upd

[2018-01-02 12:45] LiorLBADev opened #408 "1.2.2 | Invalid date cause unwanted behaviour"
Hi,

I've run the command schedule.scheduleJob(jobDate,jobFunction);

and noticed that supplying invalid date cause it to run every 1 minute (and double checked it)

reproduces in version:1.2.2.

(quick fix->throw an Exception if isNan(argDate.getTme()) if the time is NaN the date is not valid.)

Cheers.

[2018-01-05 01:45] yangxiaolin commented on #406
ok, maybe is simply

[2018-01-05 01:45] #406 closed

[2018-01-05 14:59] smit26 opened #409 "Not sure how to call a function/Method in the schedule job"
Hi - I am pretty new to nodejs dev and not sure if I am doing this write. I am using ionic 2 with AWS and I want to run a schedule job to get new token

This is what I have as of now --

var scheduler = require('node-schedule')
rule = new scheduler.RecurrenceRule();
this.rule.second = 10; //runs every minute and 10 seconds
var deleteSchedule = scheduler.scheduleJob(this.rule,function (){
      con

[2018-01-05 15:58] #409 closed

[2018-01-07 01:28] LouisWayne opened #410 "undefined fireDate"
The code is not working as intended, here is the sample code:

[code]

The job in the code will be triggered every minute - but `fireDate` is undefined.  I am using the version: `1.2.5`.

[2018-01-07 17:57] MichelJansson commented on #410
I have the same issue and saw that the code for this was not there.
This feature/code have not been published to npm yet as far as i can tell.

[2018-01-08 09:38] #263 closed

[2018-01-08 09:38] #370 closed

[2018-01-08 09:41] santigimeno commented on #410
Just published `1.3.0`. It should work there.

[2018-01-08 09:41] #410 closed

[2018-01-10 05:34] xianxingg commented on #337
When i wrote a test on `await sleep`
[code]
i got this:
[code]
but i was expecting the result of
[code]
it seems that the await process blocked the fakeTimer.
Any idea, or should this be a sinon issue?

[2018-01-16 02:50] irfaan opened #411 "at millisecond?"
Hi! Great library! Thanks so much.

I'm trying to stagger the execution of functions between multiple scripts, meaning that I want to assign script A to start executing at 300 milliseconds, script B to start at 600 milliseconds, script C to start at 900 milliseconds.

I'm wondering if, before I attempt modifying your script to support milliseconds, if there is any particular reason why it doesn't

[2018-01-17 09:07] Shamonshamonsha opened #412 "Date-based Scheduling runs multiple times"
I am trying to set cron-job on fixed date using

[code]

Date generated using the following method
[code]

everything works but the crone executes multiple times

Here is the things i can see in console

[code]

[2018-01-18 00:46] fullofcaffeine opened #413 "Hourly rule running at each minute instead"
Hi there!

I have the following piece of code:

[code]

As far as I'm concerned, that should trigger at every hour at minute `0` (see: `https://crontab.guru/#0_*_*_*_*`)

However, on the production server, which is a basic heroku nodejs (`node v9.4.0`) instance, it's triggering the `log` at _every minute_, I just deployed the app and confirmed this. It does work fine locally (`node v8.9.1`) runnin

[2018-01-18 12:33] victor0801x commented on #413
'0 * * * * *' it will run every minute at  *:*:00
'0 0 * * * *' it will run every hour at  *:00:00
if you want to run every hour after the program started (*:mm:ss), try 'ss mm * * * *' ?

[2018-01-18 15:14] rmorrise commented on #328
Can you please add in error checking code, so that the scheduleJob() method throws an error immediately if schedule.scheduleJob(rule, undefined) is called? This would make it much easier to troubleshoot.

[2018-01-24 09:32] LitileXueZha opened #414 "restart, valid?"
I have a problem.If the node process is restarted, scheduleJob will keeping run or be aborted.
Somebody give me a bug about scheduleJob, maybe i restart the node server?

[2018-01-24 17:21] katp4 opened #415 "Question about existing functionality"
Hello,

My jobs need to run on an interval between a start time and an end time so I've chosen to use

`var j = schedule.scheduleJob({ start: startTime, end: endTime, rule: '*/1 * * * * *' }, function(){
  console.log('Time for tea!');
}); `

However, i don't want my jobs to run again the next day. I want them to only do this scheduler today and then just cancel themselves.

Is there anyway to ach

[2018-01-24 17:26] santigimeno commented on #415
Hi,
I'm not sure I understand: if you don't want to run the job the next day isn't that exactly what `endTime` is for?

[2018-01-24 17:28] santigimeno commented on #414
If the process node is restarted you'll lose all the running jobs.

[2018-01-24 17:28] santigimeno commented on #413
@fullofcaffeine can we close the issue now?

[2018-01-24 17:31] santigimeno commented on #412
@Shamonshamonsha thanks for the report. Can you print what `new Date(date)` is?

[2018-01-24 17:32] santigimeno commented on #411
@irfaan no particular reason. I think it would be a nice addition. Thanks!

[2018-01-24 17:32] santigimeno commented on #408
@LiorLBADev can you test with `1.3.0`? In case it fails, can you post a full example? Thanks!

[2018-01-24 17:33] katp4 commented on #415
I was under the impression that if i set the above, it would run on every minute, between say 9am and 8pm every day due to the fact that there's not date restriction anywhere.  Start and end are just times not dates and rule is a cron expression that just specifies the interval.

[2018-01-24 17:35] santigimeno commented on #415
Are you sure about that, I've never used them myself but IIRC `start` and `end` should be dates. See: https://github.com/node-schedule/node-schedule/blob/master/test/start-end-test.js

[2018-01-24 17:41] katp4 commented on #415
I always assumed that the Date part was discarded and it only Time took into consideration due to the the example and the fact that it focuses only time but fair enough, if that's how it works by default then i'll take it :)

Will leave my jobs running tonight and verify it tomorrow.

Thanks for the clarification!

[2018-01-24 17:44] santigimeno commented on #415
If you look to the example in the README `start` and `end` are indeed Date's.

I hope it works for you.

Closing this now. Feel free to reopen if there is still an issue.

[2018-01-24 17:44] #415 closed

[2018-01-24 18:26] fullofcaffeine commented on #413
Yes, it was false positive, I checked the code again and the syntax was wrong, indeed. Thanks.

[2018-01-24 18:27] #413 closed

[2018-01-25 00:55] LitileXueZha commented on #414
But how can i save the jobs, writing it to file?

[2018-01-25 08:47] LitileXueZha commented on #414
thanks,.I have no idea to query database now when i restart node

[2018-01-25 08:47] #414 closed

[2018-01-25 09:23] santigimeno commented on #414
Yes. Storing the jobs in a database seems like a good idea.

[2018-01-25 11:00] Shamonshamonsha commented on #412
Issue resolved its the problem with date string

[2018-01-25 11:00] #412 closed

[2018-01-26 06:16] lsytj0413 opened #417 "How can i use in a cluster mode or distribute system?"
As the title, if i use node in cluster mode or distribute system, and i use the code blow:
`
schedule.scheduleJob('* * * * * *', function () {
    console.log('run');
});
`
when the time is up, the job will run at all node instance at the same schedule times. my question is how to make just one node run the job?

[2018-01-28 12:27] PARAGJYOTI opened #418 "console.log('Today is recognized by Rebecca Black!');"
I have an issue with this . It just logs "Friday !" .

[2018-01-29 05:40] thechile commented on #263
I have same issue. #396 does not fix it. I am using npm v1.3.0.

e.g.

[code]

It runs both jobs twice so `test_every_second_function` and `test_every_10_seconds_function` get run twice per second and twice every 10 seconds respectively.

[2018-01-29 13:53] LiorLBADev commented on #408
schedule.scheduleJob({}/*instead of date*/,jobFunction);

Not next to my pc to re-test it.

On Jan 24, 2018 19:32, "Santiago Gimeno" <notifications@github.com> wrote:

[2018-01-29 17:15] Kmess commented on #412
Hi!

I'm still running into this bug in the latest version (1.3.0) - previously every instance was running at least 5 times per reoccurring rule (only supposed to be running once), I updated it and now it's still at 2.

`   //Setup Cron jobs - 6AM CENTRAL
    var rule = new schedule.RecurrenceRule();
    rule.hour = 12;
    rule.minute = 0;
    var j = schedule.scheduleJob(rule, function() {

[2018-01-29 23:04] Kmess opened #419 "RecurrenceRules get called twice"
Previously there was a bug where RecurrenceRules were getting called multiple times - I was seeing that each function was getting called 5 times.

Now we have updated to 1.3.0 and are still seeing the functions getting called more than once (instead of 5 times, its only 2 times... but still more than once).

Here's a snippet of the code:
[code]

[2018-01-31 15:40] santigimeno commented on #263
I've been trying to reproduce the issue without success :(. On what OS are you having the issue?

[2018-01-31 23:24] guruward opened #420 "job scheduled to run 22 * * * runs every minute for that hour"
I simply want the job to run once on the hour

[2018-02-02 00:08] #419 closed

[2018-02-02 00:09] Kmess commented on #419
This was user error on my part. The discord bot would get disconnected and then reconnect every so often. Which then calls these functions again.

[2018-02-02 08:15] santigimeno commented on #419
Great you found the issue. I had been trying to reproduce it for a while without any luck

[2018-02-02 08:41] santigimeno commented on #418
Closing. I don't know what you mean.

[2018-02-02 08:41] #418 closed

[2018-02-03 06:31] nodesocket opened #421 "Store jobs in a database / JSON file"
Is it possible to create jobs at run-time using a JSON file format or even better read from Redis or MongoDB?

[2018-02-03 06:35] nodesocket commented on #268
Would be awesome to officially support Redis or MongoDB.

[2018-02-07 15:04] akumar86 commented on #417
I am facing the same issue. if I have 4 core cpu then it runs for 4 times.

[2018-02-08 10:08] tigranmartirosyan opened #423 ""*/45 * * * * *""
schedule.scheduleJob("*/45 * * * * *", function() {
        console.log(new Date());
});
it runs at 00 and 45 seconds for every minute.
shouldn't it have been run every 45 seconds?

[2018-02-08 21:51] davidnjohnson commented on #263
Seems fixed for me.  Thanks.

[2018-02-08 21:55] brooksbecton commented on #421
I know you can't store functions in JSON, but you can store the time the job needs to run in JSON/Redis/Mongo

[code]

[2018-02-09 16:16] williamknn commented on #417
Same issue here.

[2018-02-09 22:56] johnathanmiller commented on #417
I setup a separate node server to handle scheduling/running jobs via api.

[2018-02-10 06:53] akumar86 commented on #417
Even from APIs, it is running multiple times

[2018-02-18 22:16] florent1933 commented on #395
Definitely, we should add it to the doc. I had the same problem. :)

[2018-02-21 09:34] ashishpatel1992 opened #424 "Pausing and resuming Feature"
We have a feature to cancel and reschedule.
But it doesn't have feature to pause the scheduler and resume it when a certain condition is met.
I think maybe something like
[code]
**j.pause()** pausing scheduler will no longer execude inside the code block
**j.resume()** will resume the scheduler and will execute the code inside it when the cron time condition is met.

Any ideas?

[2018-02-21 09:40] ashishpatel1992 commented on #423
Yes you are right, looks like a bug
Here are my results:
[code]

[2018-02-21 09:45] santigimeno commented on #423
If you think this could be a bug, please open an issue @ https://github.com/harrisiirak/cron-parser. Thanks!

[2018-02-21 09:46] santigimeno commented on #423
BTW this doesn't look like a bug to me, but this is how `cron` works. See: https://stackoverflow.com/questions/27412483/how-do-cron-steps-work

[2018-02-21 09:54] ashishpatel1992 commented on #423
@santigimeno But why it executes two times at 00 and at 45?

[2018-02-21 09:58] santigimeno commented on #423
Have you read https://stackoverflow.com/a/27412884/1562178 ?

[2018-02-21 10:00] santigimeno commented on #423
Basically it says the step calculation is calculated **inside** the range. In this specific case: * means from 00-59. So it will be executed at 00 and 45 minutes on every hour.

[2018-02-21 10:08] ashishpatel1992 commented on #423
Aah! Finally, i understood!
So is there any way to avoid that?

[2018-02-21 10:09] santigimeno commented on #423
Using `setInterval()` ?

[2018-02-21 10:12] santigimeno commented on #423
Anyway, this kind of issues show up from time to time, so if anyone proposes a sane API to implement this kind of functionality I think it could be a nice addition to the library.

[2018-02-21 10:14] santigimeno commented on #423
Closing this for the moment. If this is still an issue, please re-open.

[2018-02-21 10:14] #423 closed

[2018-02-21 18:18] damianobarbati commented on #217
@santigimeno did you had time to look into @javimudi PR? Timezone would be very useful indeed.

[2018-02-22 09:44] nishantshreshth commented on #420
`0 * * * *` runs the job every hour (at HH:00).

[2018-02-23 02:14] zhangge3992513 commented on #417
if use pm2, you can
pm2.list((err, list)=>{
   if(list[0].pid === process_id){
    }
})

[2018-02-24 22:28] GaneshaThirumurthi opened #425 "cancelNext not working"
Attempting to use the cancelNext feature on a reoccurring job, however, it doesn't appear to be cancelling the next invocation. Whether I call j.cancelNext() or j.cancelNext(true) nothing happens. By calling j.cancelNext(false) the entire job stops indefinitely.

[code]

Output:

[code]

[2018-02-26 08:38] bluerid opened #426 "Is there a way to run the scheduler recursively or pass a parameter for internal function call?"
Check out the following code..
[code]

In the above code I am having to loop up in my mongodb database for the last update date for fetching  data from a public api. I need to pass the **current_date** variable to the scheduler method call after  **this.cancel()** (Now I'm not sure how to do this or if this is the correct way to do it). Is there already a way? Should I reschedule? But how would I

[2018-02-26 18:18] assafushy commented on #340
@briancbarrow  did you set the env.TZ?
did it do the trick?

[2018-02-27 19:44] assafushy commented on #340
@AriLFrankel  do you have a solution?

[2018-02-27 19:59] assafushy commented on #340
@tonyayna  did you fine a fix?

[2018-02-27 20:05] briancbarrow commented on #340
@assafushy I never did find a solution

[2018-02-27 22:23] AriLFrankel commented on #340
@briancbarrow

Heroku's default timezone is UTC. See [here](https://devcenter.heroku.com/articles/platform-api-reference) for platform API reference with examples of how to change that.

I agree with @jephjohnson - have you tried that?

[2018-03-01 14:36] erickles opened #427 "Is there a way to lock a job?"
Hello guys,

is there a way to set a job to run just when the previous one is done? In my case, i have a job that runs every 5 seconds and sometimes, some jobs take more than that to finish...

[2018-03-02 11:13] abdatta commented on #420
Try 0 0 22 * * *

[2018-03-03 00:13] GaneshaThirumurthi commented on #427
Erickles, one way to do it might be to have an event fire when the job completes. Catch the event and then call the reschedule method on the job with the current date (plus a small offset so that the date is not historical).

[2018-03-09 01:19] luckyvs1 opened #428 "Question: Running a cron task once"
Suppose I have a rule where I want the task to run on a fixed hh:mm I am using the following:

 let rule = new schedule.RecurrenceRule();
  rule.hour = hh;
  rule.minute = mm;

But this task fires more than once when scheduled, is there a way to limit the number of occurrences?

[2018-03-09 08:47] santigimeno commented on #428
You can run a job on a specific date: https://github.com/node-schedule/node-schedule#date-based-scheduling

[2018-03-09 10:27] luckyvs1 commented on #428
Apologies, I meant limiting the number of occurrences the task is executed at hh:mm,

In the example below do stuff occurs multiple times during the scheduledJob (**this is not intended for my application**), I also tried adding a seconds parameter to the rule but the job still triggers multiple times. Do you have any suggestions on implementing a recurring rule, where the job only triggers once p

[2018-03-09 10:34] santigimeno commented on #428
@luckyvs1 sorry, I'm not sure I follow. Can you give more specific by using a real example explaining how it behaves now and what exactly is what you want to accomplish? Thanks

[2018-03-09 11:02] luckyvs1 commented on #428
@santigimeno So everyday (reoccurring task) at a fixed time I want to run a job only once; however, in the below example the output from `console.log("The cron task is complete");` "The cron task is complete" occurs twice.

[code]

What I want to accomplish is to display the output only once per day (the practical example is I want to write out a batch file once per day, but everyday).

[2018-03-09 11:07] santigimeno commented on #428
@luckyvs1 ok I get it. What version of the module are you using? In case it is the latest, can you print a log with the current date then the job fires?

[2018-03-09 11:26] luckyvs1 commented on #428
Sure thing, the module version is the newest one from NPM (installed today from: https://www.npmjs.com/package/node-schedule).

I fixed the rules to the following to perform the task:
[code]

Please let me know if you need any more information.

<img width="1269" alt="screen shot 2018-03-09 at 3 23 08 am" src="https://user-images.githubusercontent.com/25218389/37205393-7b1cd578-2349-11e8-9dc1-57d5

[2018-03-09 11:34] santigimeno commented on #428
Ok, can you add this line:
[code]
[here](https://github.com/node-schedule/node-schedule/blob/master/lib/schedule.js#L496)?

Also can you print the timestamp (`Date.now()`)  then the job fires?

[2018-03-09 12:59] luckyvs1 commented on #428
As for the first part, I forked the repo made a change to a branch then added the following in package-lock.json

[code]

But I don't think that worked as intended - do you have any suggestions on using the updated version of the npm module as opposed to the node-schedule in the project? (I can't seem to find a way to directly alter the schedule.js file in the project).

As for the tests with the

[2018-03-09 13:01] santigimeno commented on #428
Can't you edit the `lib/schedule.js` file in your node_modules directory inside your project folder?

[2018-03-11 12:55] wootwoot1234 commented on #411
@irfaan I would like to be able to schedule a task every X milliseconds.  Did you ever add this feature for yourself?  Would you mind creating a pull request?  It sounds like @santigimeno would merge it.

[2018-03-15 13:11] salamander-mh opened #429 "task is executed over and over again"
This my schedule task:
[code]
from my log:
![image](https://user-images.githubusercontent.com/16663435/37465133-567cbf16-2895-11e8-8c0f-bd59f6edabdc.png)
When the task finished, it was executed again. it is strange!

[2018-03-15 14:45] luckyvs1 commented on #428
Thanks for that, I had the tree structure to prevent showing ignored files/folders.

This was the outcome of the tests,

<img width="1272" alt="screen shot 2018-03-09 at 6 06 31 am" src="https://user-images.githubusercontent.com/25218389/37470441-c7980712-2824-11e8-85da-4e90752bba4b.png">

unfortunately I had to move away from node-schedule due to not being able to utilize in the server side when

[2018-03-15 14:47] santigimeno commented on #428
@luckyvs1 thanks for following up. I'll take a look at it.

Can you give details on why it didn't work?

[2018-03-16 00:25] pasevin commented on #424
that would be nice

[2018-03-16 12:10] ycankasal commented on #429
I've this problem too. It's working over and over.

It's too strange.

[2018-03-16 12:46] rajkaran opened #430 "How to run a job where start time and end time is on different days"
I have a job which I want to run between 19:00 and 7:00 every night.

I have tried  `*/2 19-23,0-6 * * *` so far, but job runs between 19:00 to 23:58.

Any help?

[2018-03-19 18:57] jhumphrey1 opened #431 "Scheduled job tries to 'catch up'"
Using code
`schedule.scheduleJob("*/5 * * * *", function(){
  doStuff();
});`

Whenever the device is powered on, and this app starts automatically on startup, it looks like it runs through and executes all the missed times. For example, the above runs every 5 minutes normally, but if the device is powered off for an hour and plugged back in, it executes 12 times in quick succession before resumin

[2018-03-20 11:05] zlatinejc commented on #431
I am just wondering what kind of device this is ?

[2018-03-20 11:16] zlatinejc commented on #378
+1

[2018-03-20 11:58] jhumphrey1 commented on #431
@zlatinejc It's running on a Raspberry Pi 3

[2018-03-20 12:28] zlatinejc commented on #378
i think the zones are working due to cron-parser tz functionality

[2018-03-22 03:30] salamander-mh commented on #429
@ycankasal  the format is not correct `* 7,20 * * *` will be executed every minute.
so the format should be `0 7,20 * * *`

[2018-03-22 22:52] zlatinejc commented on #217
they work if you specify the tz parameter when passing the ```spec``` object. It's mainly due to cron-parser supoort - the parsing is done via momemt / moment-timezone lib.

[2018-03-23 23:12] santigimeno commented on #425
@GaneshaThirumurthi Can you check if https://github.com/node-schedule/node-schedule/pull/432 fixes the issue for you?

[2018-03-27 19:05] santigimeno commented on #430
You can set the [StartTime and EndTime](https://github.com/node-schedule/node-schedule#set-starttime-and-endtime) options

[2018-03-27 19:05] #430 closed

[2018-03-27 19:06] santigimeno commented on #429
Just to be sure. Is this still an issue?

[2018-03-27 19:07] santigimeno commented on #427
The solution proposed by @GaneshaThirumurthi  seems like a good idea to me. I'll close the issue for now. Feel free to reopen if you want to discuss it further. Thanks

[2018-03-27 19:07] #427 closed

[2018-03-27 19:09] santigimeno commented on #420
The question has already been answered. Closing the issue, feel free to reopen though if you want to.

[2018-03-27 19:09] #420 closed

[2018-03-27 19:29] #375 closed

[2018-03-27 19:29] #395 closed

[2018-03-28 16:04] chris-gaona commented on #340
It was working locally for me but not on Heroku until I set the TZ environment variable. Now it seems to be working as expected.

[2018-03-29 05:29] #429 closed

[2018-03-29 15:33] jhumphrey1 commented on #431
For explanation, this happens on an NTP update when the device has been unplugged for a long period of time. When the program running the above line starts before NTP has had a chance to update, and then NTP updates the device's time, it runs through every iteration it would have missed.

[2018-03-30 04:56] zlatinejc commented on #431
Based on your explanation i see two options:

A (unlikely): your device is not really a sleep / offline, meaning the NodeJS runtime issues calls to timer API anyways.

B (a hunch): System clock is being changed during execution of node-schedule and therefore all "cron" events get executed immediately when this change occurs ?

If B is your guess too, try reproducing it with some test & maybe not o

[2018-04-02 14:58] rosman21 opened #433 "Cron running every first Monday of the month??"
This is more of a question I can't seem to figure out. Can anyone help me with this? Is it possible?

The first Monday of every month

Thank you

[2018-04-03 19:54] williamknn commented on #417
When I tried to setup this solution using `pm2` it was when I've found the solution I was looking for:

[code]

So there's no need for using `pm2` only for this purpose.

[2018-04-05 09:45] xehpuk commented on #431
Noticed this, too. Happens on a Windows 10 machine after waking up from hibernation.
This is pretty uncool as the job contains a call to a rate-limited API.

[2018-04-05 10:04] xehpuk commented on #433
From the readme:

You'd need `#` which unfortunately is not supported.

You make schedule for every Monday and then check in your job if `new Date().getDate() <= 7`.

[2018-04-05 18:10] zlatinejc commented on #431
Can you reproduce it writing a simple script using setInterval or setTimeout and test if this issue is reproduced without the usage of node-schedule lib ?

[2018-04-05 18:57] jhumphrey1 commented on #431
To answer your question, scenario B is what is happening. I apologize, i thought my previous comment made that clear. For the raspberry pi, to reproduce the issue, I disable the systemd-timesyncd service, set the date back sometime before (Jan 1st for my example), start the cron schedule, and then re-enable the systemd-timesyncd service, thus causing the "catch-up" behavior

[2018-04-05 18:59] jhumphrey1 commented on #431
My current workaround for now is checking the result of timedatectl and waiting to execute until it is synchronized. I also put a fallback to make sure the event does not occur more than once every 4 minutes (cron is set to once every 5 minutes) just in case

[2018-04-05 21:02] xehpuk commented on #431
My test script:
[code]

Output:
[code]

Seems to work normally.

[2018-04-05 21:08] xehpuk commented on #431
Same result for `setInterval`:
[code]

Output:
[code]

[2018-04-05 21:28] xehpuk commented on #431
Test script for `node-schedule`:

[code]

Output:
[code]

As you can see, lots of job executions within a few seconds.

[2018-04-06 04:11] karsens commented on #263
I ended up here because I was worried about having a scheduled function execute 8 times when I run my node app in cluster mode on 8 cores. I couldn't find much about it, so I'll just ask... Is this a problem, or does this never happen? It's not addressed in the readme.

[2018-04-08 20:41] ssisaias commented on #340
I've just came across this problem,

The solution was:

Set the TZ variable (this is odd, but it works).
Remove the single quotes from the cron time env variable:
Locally was using: _'*/60 * * * *'_
But on heroku it is: _*/60 * * * *_

[2018-04-09 19:57] assafushy commented on #340
i set up my TZ like so
![image](https://user-images.githubusercontent.com/7502687/38519698-5c543f0a-3c49-11e8-9e0e-89253166916e.png)

doesnt work, any suggestions?

[2018-04-09 21:06] AriLFrankel commented on #340
@assafushy Can you show us your node-schedule code as well?

[2018-04-10 08:43] assafushy commented on #340
of course ...
![image](https://user-images.githubusercontent.com/7502687/38546078-5507c8e6-3cb4-11e8-8563-ea92e2d81470.png)

any ideas?

[2018-04-12 17:57] sapabg commented on #67
How can we load data based on the rule that's being used for the schedule?

[2018-04-16 20:42] AriLFrankel commented on #340
@assafushy So when you say it doesn't work do you mean that you see in the log on line6 the date in a timezone other than Jerusalem, or that the tasks aren't being scheduled as you would expect?

[2018-04-17 04:36] assafushy commented on #340
Both,
Dont really care for the time zone,
But the scheduled tasks need to work

[2018-04-17 10:27] bluetiger30 commented on #397
is there a way to get and start and end job event? if so how?

[2018-04-17 10:50] bluetiger30 opened #434 "how to only call the function on the start and end of the schedule ?"
how can I make the following example only console log at the start and end of the schedule ? or are there any start or end events that I can listen to?

let startTime = new Date(Date.now() + 5000);
let endTime = new Date(startTime.getTime() + 5000);
var j = schedule.scheduleJob({ start: startTime, end: endTime, rule: '*/1 * * * * *' }, function(){
  console.log('Time for tea!');
});

[2018-04-17 17:49] assafushy commented on #340
the timezone doesnt work.

any advice to way?

[2018-04-17 19:16] AriLFrankel commented on #340
can you try changing Asia/Jerusalem to ASIA/JERUSALEM and then try again the steps to verify the timezone?

[2018-04-17 19:38] assafushy commented on #340
did not work :/

[2018-04-17 19:43] AriLFrankel commented on #340
Is there white space in the timezone key or value? Sorry I'm out of ideas. This sounds very frustrating :/ It sounds like it's a Heroku question at this point. I would contact support. I used TZ ASIA/JERUSALEM and found that the time zone was changed correctly on a test app.

I suppose another option is to advance all of your times to account for the time zone difference between UTC and Jerusalem

[2018-04-19 13:33] jeffreyjackson commented on #417
@williamknn I tried your solution but without success.  Im running a multiple dyno environment on heroku.

[2018-04-25 08:37] vb-vasudev commented on #359
Hey guys, just to clarify - is there a way to set a specific time zone?

[2018-04-27 13:57] coussej opened #435 "DST issue: when clock is turned backwards, node-schedule skips a complete hour"
I have a job running every second.

Here in Belgium, the clock went from 2018-10-28T03:00+02:00 to 2018-10-28T02:00+01:00.

My scheduled job did not run for 1 hour after the change, and started running again at 2018-10-28T03:00+01:00.

Probably the decision on whether or not to trigger the job is comparing local timestamps?

[2018-04-27 14:28] diegofreemind commented on #45
+1

[2018-04-28 19:26] KevinNovak opened #436 "nextInvocation() return type is "CronDate" instead of a standard Date"
I was attempting to format and print out the next invocation date of a job, and noticed that **nextInvocation()** returns a **CronDate** instead of a standard JavaScript **Date**, which makes it difficult to format without converting or including the **cron-parser** package . Unless there is a reason to return **CronDate**, I think it would be better for users to have a standard **Date** returned.

[2018-04-30 06:20] milarsso opened #437 "7 really supported as dayOfWeek?"
Hi!

Is 7 really supported as dayOfWeek?
From the wiki:
day of week (0 - 7) (0 or 7 is Sun)

I noticed that a job that I had configured with
"0 00 20 * * 1,2,3,4,5,6,7"
did not execute on Sunday. I just reconfigured it to use 0 instead of 7.
(Yes, I understand that "*" would work in this specific case also...=

There is a check in the code (schedule.js):
if (this.dayOfWeek !== null && (this.dayOfW

[2018-04-30 12:32] damianobarbati opened #438 "Don't run next scheduled until current job exited [feature request]"
I think an utility method to provide this behaviour would be awesome.
Let's suppose we schedule a job and we want to make sure it runs at the given interval just if the previous job execution has done (periodical database queries for instance, when you don't want the query execution to ever overlap).

How would we achieve this now?

[2018-05-04 10:33] Gunner17 opened #439 "Any way to get the Job's last/current invocation time?"
Hi,

Like we have nextInvocation() method to get the next scheduled time for the Job, do we have any method/ way to get the

1. last invocation time
or
2. the current invocation time(while the job is executing at the scheduled time)?

I need this time to match with something in my code.

Thanks in advance.

[2018-05-05 07:24] Gunner17 opened #440 "Issue : Job ran at 11:59 pm instead of 12:00 am (cron : */30 * * * *)"
I am using node-schedule version 1.2.3
I have scheduled a Job using the following cron expression.
 */30 * * * *
This job is supposed to run at every 30 minutes.
But it ran at 11:59 pm instead of 12:00 am, any particular reason for that?
(04-May-2018 11:59:59.941 pm to be exact)

I don't mind the job running few milliseconds/seconds later than the scheduled time, but why would it run before time?

[2018-05-16 02:33] smartNonPlayerCom opened #441 "how to solve the question: Deprecation warning: value provided is not in a recognized RFC2822 or ISO format?"
hi there:
I met a question like the title said,and the follow is detail:
-----------------------
Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged and will be removed in an upcoming major release. Please refer to http://mo

[2018-05-16 15:40] Freakspot commented on #425
@santigimeno It did for me. However, now I'm not able to easily format it (using moment.js) anymore. Also see #436. A standard Date would make it easier imo.

[2018-05-16 15:47] santigimeno commented on #436
@KevinNovak I see what you're saying, let me think a bit about it. Anyway, you can always call `toDate()` on a `CronDate` to get the actual `Date`.

[2018-05-16 15:48] santigimeno commented on #425
Thanks for the feedback. I'll merge it as soon as I can

[2018-05-16 16:05] Freakspot commented on #425
Perfect, thanks for the fix!

[2018-05-16 16:06] santigimeno commented on #440
Yeah, I think that was solved by: https://github.com/node-schedule/node-schedule/commit/28fa70a94dd17ef84fbc627aa7c8f3111707f1d4. Can you test with `1.3.0`?

[2018-05-16 17:17] Miakrath opened #442 "Programate with a discord message"
Hey,

I wanted to know if it was possible to introduce this node script with a message on a discord server like
*Event ARandomDay
And what would be the code

Thanks for the answer

[2018-05-23 08:06] guillaumegarcia13 commented on #433
Try this, combining `dayOfWeek` and `date` seems to work just fine (I'm using node-schedule@1.3.0):
[code]

[2018-05-23 14:10] fritx commented on #440
+1 here.

[code]

[2018-05-23 14:13] santigimeno commented on #440
@fritx what version are you using? If it's the latest, do you have reproducible code?

[2018-05-24 01:53] fritx commented on #440
@santigimeno sorry for that, I was using `1.2.3`. I've just upgraded it, thanks

[2018-05-24 01:56] fritx commented on #440
Btw, how could this reproduce? Is it a JS engine bug?

[2018-05-24 03:51] Slowair6 opened #443 "Will schedule be remove from memory at end time?"
for example if I write it like this

`	startT= new Date();
	startT.setHours('12', '00', '00')
	endT= new Date();
	endT.setHours('13', '00', '00');

        var thejob = schedule.scheduleJob({ start: startT, end: endT, rule: '*/1 * * * *' }, function () {
		... [process]
	});
`
I won't be able to do this after 13:00
because thejob is no longer exist so it should be null
`
        thejob .reschedule

[2018-05-24 07:36] Chunlin-Li opened #444 "AsyncFunction Should NOT execute when defining jobs."
Thanks for provide this useful library!
I encounter a strange issue as description below.

[code]

#### output
[code]

#### expected
[code]

node version :  8.11.1
node-schedule version:  1.3.0

I find the mistake invocation locate at [here](https://github.com/node-schedule/node-schedule/blob/v1.3.0/lib/schedule.js#L52)

When the AsyncFunction foo has been executed,  the `foo.constructor` is `func

[2018-05-31 14:27] gijswobben commented on #438
Sure, would be a nice feature, but it's almost too easy to do it yourself ;) :

[code]

Output:
[code]

[2018-05-31 14:31] damianobarbati commented on #438
Eh eh, yeah that's what I'm currently doing but it would be nice to not have to deal with it, especially when you have tons of jobs xD

[2018-06-05 13:13] rijnhard commented on #425
Hi

Not to sound needy but if everything is ok can we get this merged? I'm going to be using this lib and need this functionality

[2018-06-05 15:04] Constantinoser opened #445 "'1 15 5 */2 *' not working as intented"
It should execute At 03:01 PM, on day 5 of the month, every 2 months instead it executes next month.

[2018-06-11 04:42] Tevinthuku opened #447 "Concerning monthly function call"
I just wanted to confirm if this function will be called once a month at 12

[code]

[2018-06-19 08:28] AlexVoitenko opened #448 "Bug with schedule object literal syntax"
When I described schedule like this:
[code]
Sometimes job function called twice at the same schedule time.

![screenshot from 2018-06-19 11-10-50](https://user-images.githubusercontent.com/7480293/41585736-96ad8264-73b3-11e8-8f82-ca7fbe1c25e9.png)

It happens rarely.
Also i didn't notice this issue with string syntax:
[code]

[2018-06-19 08:31] santigimeno commented on #448
What version of `node-schedule` are you using? Having a reproducible test case would really help. Thanks!

[2018-06-19 09:00] AlexVoitenko commented on #448
@santigimeno version is *1.2.5*

You can try this example, it takes near 4 minutes for me to get error
[code]

[2018-06-19 09:01] santigimeno commented on #448
@AlexVoitenko can you try with the lastest version (`1.3.0`). it should be fixed there. In case it's not, let me know. Thanks!

[2018-06-19 09:21] AlexVoitenko commented on #448
@santigimeno Works well now :+1:. Thanks!

[2018-06-26 19:08] awwong1 commented on #417
I don't think the scope of node-schedule should handle clustering.
The scheduled tasks need to be persisted in database anyways for when the app restarts and auto scales. Therefore, something like PM doesn't seem like the best fit here (sure, only one worker will run at a time but memory is still scoped to each process).

Using postgresql, I think the best solution is to store the necessary jobs i

[2018-07-05 18:46] ftechhelp commented on #447
You can simply handle that with the CRON like method, for example, this will run every 1st day of every month at midnight:

`schedule.scheduleJob('0 0 1 * *', () => {`

` console.log("Monthly")                  `

` });                                                          `

Is a bit cleaner in my  opinion and it will do just what you want.

[2018-07-06 04:10] Tevinthuku commented on #447
It does look cleaner . Thank you.

[2018-07-06 04:10] #447 closed

[2018-07-07 03:33] yqsailor opened #449 "The rule cannot work normally？"
my code is bellow:
`schedule.scheduleJob({ start: new Date(), rule: '0 0-5 0 * * *' }, () => {
console.log('execute the job');
})`

but the schedule execute at every minutes, what should I do?

[2018-07-10 19:56] drewgierach commented on #431
Confirmed this behavior running on a mac. The system was put to sleep and when it came back online the jobs all ran to catch up.

<img width="365" alt="screen shot 2018-07-10 at 2 55 31 pm" src="https://user-images.githubusercontent.com/980038/42534073-5807e870-8451-11e8-92ad-4da746264eb0.png">

[2018-07-12 13:11] sushantshek20 commented on #340
Free Heroku Dyno sleeps after a while.

[2018-07-13 16:41] rousojohn opened #450 "Cancel Job Question"
Lets say, I've created a job to run at every day at 5:00 pm. Lets also say that the jobs takes 10 minutes to complete.
If I, for some reason, do "job.cancel()" at 5:03 pm will the job stop its execution OR it will finish the current execution and never run again?

[2018-07-15 03:01] lostfictions commented on #436
Just got bit by this as well! The return format doesn't bother me, but it would be nice if it was correctly documented -- the [typings](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node-schedule/index.d.ts) mark the return value of `nextInvocation()` as a `Date` too.

[2018-07-18 06:06] RaviDavda opened #451 "Cron job Executes at every 5 mins Failed."
I am using 1.3.0 version and i want to execute cron job at every 5 mins. So I have write down one recurrence rule for that.

[code]

But it does not execute. Is there any reason behind it?

[2018-07-19 13:25] rols2015 opened #452 "Job does nor run as expected"
I set a rule to run my job every 10 mins, but seems it's not running as expected. I would say it runs randomly each 20 or 30 sometimes 40 mins.
Can someone advice what is wrong? Is it a bug?

[code]

[2018-07-19 14:06] rols2015 commented on #452
But when I use
[code]

[2018-07-20 14:17] mariohmol commented on #336
I'm having a similar issue with '* */1 * * * *' , it runs a lot at same time! version 1.3.0

[2018-07-20 14:24] mariohmol commented on #263
I cant have this working as well.. in 1.3.0. An this is running for every second.

I'm on mac but it happens on linux as well

[code]

[2018-07-21 06:29] monajafi opened #453 "job stops when System time changed manually"
For test purposes I changed the system time in ubuntu OS while node-schedule script was running
but the job didn't fired at specified time. If I change the time then start script it's working
How can I test the job execution while script is running?

[2018-07-23 09:56] Zhou-Bill commented on #405
how about 25 hours ?

[2018-07-24 10:31] gledrich commented on #363
@Mastermaulik Did you ever manage to confirm this? Also trying to find out the same answer

[2018-07-26 11:31] xhkocatepe commented on #251
is there any solution for node-schedule, for every day at 12am once run ?

[2018-07-29 19:29] tfrojd commented on #67
I for one would find it very useful. Being able to pass parameters such as date for a job that does something daily etc.

[2018-07-29 22:51] tejasmanohar commented on #67
How would the API look? The way I envision it, you have a function to derive the arguments and a function to execute the job. At this point, why wouldn't the function executing the jobs just call the function deriving the arguments? If you want the execute function to take arguments for testability, you could do so and then pass a `.bind()`'d version to node-schedule

[2018-07-30 20:54] nodesocket commented on #421
@brooksbecton yes, it is ok to define the function logic statically, but I am looking for a way to dynamically create lots of schedules at run-time without having to restart the node process.

[code]

[2018-08-03 06:50] sanks opened #455 "Schedule job to every 2 weeks"
Is that possible to schedule a job to be completed every 2 weeks on the same day of week and time?

[2018-08-03 11:52] tfrojd commented on #67
I must admit I am pretty new to javascript and OOP in general so maybe I am missing something but I would expect it to work something like this.

Say we want to schedule a jobs that at the end of the day sums up something for a region. I would then do.

`schedule("eod EU summary", executiontime, calculateSumFunc, args = {daypartition: "20180721", region:"EU" }  )`

`calculateSumFunc() `will then h

[2018-08-17 13:37] ivanm376 commented on #336
@mariohmol its runs every second, change  **'* */1 * * * *'** to **'0 */1 * * * *'** instead

[2018-08-17 13:47] mariohmol commented on #336
I found out my issue: https://github.com/node-schedule/node-schedule/issues/263#issuecomment-406616377

thanks

[2018-08-23 15:36] #405 closed

[2018-08-23 16:02] jegankan opened #456 "Avoid race condition between multiple instances of node-scheduler"
I am using node-scheduler for my project. The purpose of the schedule job is to process the certain records(with specific status) in mongo db. I am facing an issue. I run my project in multiple nodes(or more than one instance), which tends to trigger the more scheduler at the same time and both the instances succeed in processing the same record at the same time. Looking out for information like h

[2018-08-23 16:58] munkhorgil opened #457 "Create schedule rule by every month, day"
I am using object literal to create a schedule rule as follows
[code]
Both of them works first time, but when I change my computer date such as tomorrow, It does't work.
expected behavior: work every day 12:24 of day, every month of 2th day 12:24
current behavior: only works first time both of them.

[2018-08-24 06:27] munkhorgil commented on #400
@wux5 It doesn't work when I change my computer date manually to next day of 23:00.

[2018-08-24 14:29] alFReD-NSH opened #458 "Invalid recurrence rules are silently ignored"
I had something like this:

[code]

But then my function was never called, so I looked into the code and realized that in [here](https://github.com/node-schedule/node-schedule/blob/master/lib/schedule.js#L362) it was validated and it was just returned false. I think it should have thrown an error instead. I saw that there was #122 that was trying to achieve the same goal however it didn't end up b

[2018-08-25 11:54] khashayar1375 commented on #340
i've same problem.not in heroku!
its run localy.....but in my host (plesk panel with node js tool) it seems do nothing!

[2018-09-01 02:06] valterh4ck3r commented on #451
Same problem

[2018-09-01 14:55] kylecordes commented on #298
If anyone wonders by with a tip on how (using this library or any other) to implement safe job stopping, it would be great to leave a link here for the next one of us that wanders by looking.

(To clarify: safely stopping a job means that, first use the scheduler API to stop the job; then you get a promise which won't resolve until the job has actually stopped. This implies that the function being

[2018-09-02 10:47] rols2015 commented on #451
changing library to "cron": "1.3.0" solved issue.
[code]

[2018-09-02 18:28] valterh4ck3r commented on #451
Thanks

[2018-09-05 11:45] MartPasman opened #459 "Testing with sinon fake timers, doesn't execute after + 12 hours"
My test runs fine, untill i add more than 11 hours and 59 minutes to my scheduler. When i test with job.nextInvocation(), the job is gone with job scheduled < 12 hours, but it's still there with job scheduled > 12 hours.
Working code:

        var date = moment();
        let clock = sinon.useFakeTimers(date.toDate());
        date = date.add(11, 'hours');
        date = date.add(59, 'minutes');

[2018-09-05 13:30] MartPasman commented on #453
You could use Sinon fake timers.
With those you can manipulate the time on the spot. So create the job, change time, and the job should be executed.

https://sinonjs.org/releases/v1.17.6/fake-timers/

Hope this helps you!

[2018-09-05 17:29] MartPasman commented on #459
Just found out it does work, but only if there is only one job defined. When there are multiple jobs scheduled, it fails..

[2018-09-06 11:39] munkhorgil commented on #457
Instead of using object I used string and it works.

[2018-09-06 11:39] #457 closed

[2018-09-07 08:14] dumblole opened #460 "Either my computer sucks, or README has a link problem"
The README link for cron either doesn't work or my internet service just sucks. I'm not sure if you're referring to node-cron or something else.

[2018-09-12 18:09] luminous8 opened #462 "How to launch it"
Hey,

It may sound like a silly question (it's probably silly but couldn't find any answer in the docs).
How the do I launch it? If I do `node index.js` on a server, do I need to keep the window open? If I quit the script does the cron will be executed as well?

Thanks !

[2018-09-13 13:02] sabali33 commented on #160
I am experiencing the same issue. I can't make a monthly schedule at a date other than 1st day of a month

[2018-09-20 04:13] guymcswain commented on #350
I've used node-schedule for some time now but just ran into this.  It's not a problem to have such a limitation but it should be documented.  For example I've been using `'15 5 2-30/2 * *'` and it work fine for every even day of the month.  Where does the limitation begin?   Day intervals, ok.  Hour intervals, ?  Minute interval, not ok.

[2018-09-21 02:04] huanyun-c opened #464 "timers.enroll() is deprecated. Please use setTimeout instead"
timers.enroll() is deprecated. Please use setTimeout instead

[2018-09-26 06:34] serakfalcon opened #465 "cron-string doesn't properly support commas"
`0 0 8-11,23 * * *` causes strange behavior- it will only run the 11 PM time and 8-11 AM are ignored (on initialization next run time is always the 11 PM time) ... seems like some parsing error with the string

[2018-09-29 03:44] suparnavg commented on #340
I have a related question.. When the dyno is reset (say after a new deploy), does it delete all the scheduled jobs?

[2018-09-30 09:00] nikjeni commented on #251
onComplete callback function does not work when a job is done, Could anyone help me out

[2018-10-04 13:51] G14nLu opened #466 "Reschedule"
let's say that I launched some schedules and then, relaunch new ones from the same node js script. what happens to first launched?
in particular, I'm doing some event programming basing it on received mqtt messages populating an event database. if I receive a new mqtt event message I re-launch the entire database scanning rescheduling all events. I want to be sure that events previously launched a

[2018-10-05 18:54] tarunjindal790 opened #467 "Schedule runs every minute on invalid date."
If you try to run schedule using some invalid data,it runs every minute.

[2018-10-05 22:34] jpdurot commented on #425
Hi
I also need this fix. Can it be merged ?

[2018-10-05 22:41] jpdurot commented on #462
Hi,

From  the Overview part in the readme file:

`
Note that Node Schedule is designed for in-process scheduling, i.e. scheduled jobs will only fire as long as your script is running, and the schedule will disappear when execution completes. If you need to schedule jobs that will persist even when your script isn't running, consider using actual cron.
`

[2018-10-06 08:11] luminous8 commented on #462
Pretty clear indeed, I missed this section. Thanks

[2018-10-06 08:11] #462 closed

[2018-10-16 09:30] NextZeus opened #468 "schedule rule start from Date.now() not work"
# Code

[code]

## Output

[code]

first time console Time ... not at Date.now(), it delayed about 35s.

[2018-10-25 21:11] Robinl2018 opened #469 "ReferenceError: SqlServer is not defined"
Hi, i have this error: ReferenceError: SqlServer is not defined
I´m using cordova sqlserver plugin

This is my code:

SqlServer.init("server", "instance", "user", "password", "database", function(event) {
  alert(JSON.stringify(event));
}, function(error) {
  alert(JSON.stringify(error));
});

function validateuser() {
  try {
    SqlServer.executeQuery("select * from pers where correlec = 'abc@de

[2018-11-05 07:16] danishnazir opened #470 "Recurrent Schedule Not Firing in NodeJS Child Process"
Hi there i have a rest api running up on the server and from there i am spawning child process against each schedule. My code of the child process is  given below
`function initTimer()
	{
		var rule = new schedule.RecurrenceRule();
		rule.hour = 16;
		rule.minute = 23;
		rule.dayOfWeek=[0, new schedule.Range(0, 6)];
		var job = schedule.scheduleJob("test",rule, function(message)
		{
			console.log

[2018-11-09 02:39] HuMoran opened #471 "【Bug】schedule.scheduleJob executed twice"
AWS Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-116-generic x86_64)
node: v8.11.1
node-schedule:  1.2.4

my code：
[code]
my log:
![image](https://user-images.githubusercontent.com/25628402/48239266-3af87480-e409-11e8-83f7-8122022ee51b.png)
![image](https://user-images.githubusercontent.com/25628402/48239345-798e2f00-e409-11e8-93e6-3dfc7df8f217.png)
![image](https://user-images.githubusercontent.com/256284

[2018-11-09 02:42] HuMoran commented on #471
I am not good at English……

[2018-11-12 08:37] shubhamagarwal003 opened #472 "How to avoid duplication in multi client app"
I have a multi client set up and I am currently using node-cron to schedule jobs periodically. But the issue occurs is that in case of multiple client the job is scheduled multiple times. So is there any such support in node-schedule for this. What should be the appropriate strategy for this.

[2018-11-13 02:12] lvgithub opened #473 "After running for a long time, it automatically stopped."
is my code
[code]

will don't work, when i run long time(25d),Happed twice，not every error info

[2018-11-13 05:34] swarthy commented on #473
same happens with CRON like pattern, job just stopped with no error after 3 weeks
[code]

[2018-11-15 13:58] alihesari commented on #421
@nodesocket Do you tried this? https://docs.mongodb.com/manual/tutorial/store-javascript-function-on-server/

[2018-11-16 17:30] javierforero opened #474 "testing node-schedule jobs with Jasmine in Angular 6"
Hi @tejasmanohar,

Just wondering if it is possible to test a job in jasmine. I have a simple job scheduled at midnight (`0 0 * * *`) and want to test if functions are being called when it is midnight. I have tried to use jasmine's clock, set it to midnight, then tick it a second, but haven't gotten this to work.

Just wondering if you had any advice.

Thank you

[2018-11-18 18:12] #474 closed

[2018-11-20 13:21] mreis1 commented on #471
I'm having the same problem.

![image](https://user-images.githubusercontent.com/1719667/48776214-847d7500-eccf-11e8-8017-731efcfd241e.png)

Here's the code:

[code]

[2018-11-21 08:17] mreis1 commented on #471
Also affects versions 1.3.0.
Tested on both, mac os and windows 10.

[2018-11-22 01:35] lvgithub commented on #473
how many times?

[2018-11-22 05:58] swarthy commented on #473
once, but I found out about it after 3 days, so... I implemented simple scheduler for my tasks with ```setTimeout()```

[2018-11-26 09:22] HuMoran commented on #471
no one helps us

[2018-11-26 09:31] santigimeno commented on #471
@HuMoran there was an issue fixed in `1.3.0`. Can you check if using `1.3.0` works for your case?

In the meantime I'll look into @mreis1 issue

[2018-11-26 09:32] santigimeno commented on #471
@mreis1 how long does it take before it starts failing?

[2018-11-26 09:53] #425 closed

[2018-11-26 10:42] HuMoran commented on #471
@santigimeno ok，let me try 1.3.0. But it needs a long time can be verified

[2018-11-26 11:17] santigimeno commented on #468
What output were you expecting?

[2018-11-26 11:21] santigimeno commented on #467
Could you post a reproducible example?

[2018-11-26 11:22] santigimeno commented on #465
This should be reported to https://github.com/harrisiirak/cron-parser

[2018-11-26 11:22] santigimeno commented on #464
PR are always welcome :)

[2018-11-26 11:23] santigimeno commented on #460
I guess this -> https://github.com/harrisiirak/cron-parser

[2018-11-26 12:43] mreis1 commented on #471
@santigimeno it starts on the first run.

[2018-11-26 13:56] santigimeno commented on #471
I'm using this code:
[code]

and works correctly :man_shrugging:

[2018-11-26 16:43] mreis1 commented on #471
I didn't perform an isolated test but I have multiple cron jobs running in the process.
Some of the cron jobs have different intervals.

[2018-11-26 17:07] santigimeno commented on #471
I get it. I would need a reproducible test case in order to track this.

[2018-11-27 02:48] NextZeus commented on #468
I expected output

1539681925062
Time for tea! 2018-10-16T09:26:00.000Z 1539681925062
Time for tea! 2018-10-16T09:26:00.000Z 1539681985062
Time for tea! 2018-10-16T09:26:00.000Z 1539682045062

[2018-11-27 21:38] mreis1 commented on #471
@santigimeno I'll see If i can provide you with an example.

[2018-11-30 14:01] pqvst commented on #473
It seems this is a bug that was fixed in Node 10.9.0
https://github.com/nodejs/node/issues/22149

[2018-12-01 06:27] faysal515 opened #475 "not installing"
cannot install it through yarn/npm
![image](https://user-images.githubusercontent.com/10289348/49324997-5bc56d00-f564-11e8-8744-cbbe684953bc.png)

[2018-12-01 18:05] faysal515 commented on #475
issue resolved after deleting `yarn.lock` and installing again

[2018-12-01 18:05] #475 closed

[2018-12-02 09:43] lvgithub commented on #473
thanks

[2018-12-03 12:44] mreis1 commented on #471
I think the issue is not related with node-schedule itself.
In my project I use node-graceful to perform some operations when a kill signal is received.  While I were able to ctrl+c and start the app again, the process was still alive and as consequence If i started the program again, I would see console.logs coming from the process that was not yet dead.

I'll check this to be sure that I'm not m

[2018-12-05 21:36] valterh4ck3r opened #476 "How to free memory after running schedule function ?"
How to free memory after running schedule function ?

All times that schedule execute function, the memory was not clearing...

[2018-12-06 00:39] #476 closed

[2018-12-06 12:00] eharrow commented on #472
You would need to implement an excuse lock.  As each instance of the scheduler wakes up you will need to check that it can continue to run.  One way would be to check for a lock file - if the file exists don't run else create the file, do the work and delete the file when done.  I usually do it in a database to avoid synchronisation issues - create lock record, if no duplicate key violation do wor

[2018-12-13 16:13] eharrow commented on #473
If I was unable to upgrade to 10.9.0 is there a way to detect this issue?  In my case I have a service that runs once a week with a proposal for another that runs monthly.  If I could detect the issue I could either exit or make the service report the problem allowing a restart.

[2018-12-13 16:22] pqvst commented on #473
@eharrow Hmm, I guess you could check if your current node version is >= 10.0 and < 10.9 and in that case set a timer for like 24 days and cause the service to restart when that timer fires.

[2018-12-29 18:58] awcchungster opened #477 "Is Node-Schedule the best Lib for this app?"
I have several jobs that are currently managed by cron. Let's call them job1, job2, job3. Each of these jobs run daily.

The main features I want to be able to supports:
- Cancel next run, or a specific day's run
- Reenable next run, or a specific's day's run
- Change the time for the next run, or run for a specific day (while having all other runs begin at the normal time)
- Change the params for

[2019-01-13 21:19] yousefissa commented on #471
Any fix on this? I'm having my scheduler run multiple times. Using express and react, so could it have something to do with the multiple node processes running?

[2019-01-24 08:46] uct8086 opened #482 "schedule task start 8am erery 5 minutes repeat everyday"
our PM want a schedule task set time butween 08 am and 10 pm , at the same time , the task repeat every 5 minutes everyday ，can node-schedule do this ?

[2019-01-26 16:51] mitch85 opened #483 "Is it possible to cancel ALL scheduleJob's ?"
Hi all,
i have an array of jobs  `timerSD.funcOn[tNo]= schedule.scheduleJob().`
Now i want to cancel all these jobs.
somethink like schedule.cancelAll();
Is this possible?

[2019-02-01 22:57] joshmeads commented on #341
@santigimeno I can confirm this patch fixes the issue. The issue is still ongoing and this would be a great fix to get merged in.

[2019-02-02 17:18] santigimeno commented on #483
You can always call `scheduledJobs()` and iterate through the object keys to cancel every job.

[2019-02-02 17:18] #483 closed

[2019-02-02 17:19] santigimeno commented on #460
Closing. Feel free to reopen if there's something actionable.

[2019-02-02 17:19] #460 closed

[2019-02-02 17:37] santigimeno commented on #449
It works correctly for me:

[code]

[code]

[2019-02-02 17:37] santigimeno commented on #449
Closing, if it still does not work for you, feel free to re-open

[2019-02-02 17:37] #449 closed

[2019-02-02 17:42] santigimeno commented on #450
The latter:

[2019-02-02 17:42] #450 closed

[2019-02-02 17:52] santigimeno commented on #445
It's working correctly for me:

[code]
Output:
[code]

[2019-02-02 17:52] santigimeno commented on #445
Closing, reopen it it's still an issue.

[2019-02-02 17:52] #445 closed

[2019-02-02 18:02] santigimeno commented on #451
The RecurrenceRule should be:
[code]

[2019-02-02 18:02] #451 closed

[2019-02-02 18:03] santigimeno commented on #451
Feel free to re-open if there's still an issue.

[2019-02-02 18:07] santigimeno commented on #452
With recurrence rules you should use: ```js rule.minute: [ 0, 10, 20, 30, 40, 50 ]```

[2019-02-02 18:07] #452 closed

[2019-02-03 16:31] circa10a commented on #482
@uct8086 Yes, that's just a standard cron entry like so: `*/5 08-22 * * *`

Here's a good site for forecasting cron schedules: https://crontab.guru/#*/5_08-22_*_*_*

[2019-02-06 20:07] rconstantine opened #485 "Project architecture question - how would I fit node-schedule into my project?"
Background: I have a web app, all written in NodeJS using VueJS for the front end application and Express for the back end/REST API. The back end lives on an IIS Windows server using iisnode to handle the requests. This means multiple instances of the back end app can be spawned as needed.

Need: I have a need to have scheduled tasks. Our legacy system was made up of Windows applications that coul

[2019-02-06 20:22] #341 closed

[2019-02-13 18:04] circa10a commented on #455
@sanks Yes, here's a sample cron schedule: https://crontab.guru/#30_1_1,15_*_*

`30 1 1,15 * *` will run at 01:00 on the 1st and 15th of every month

[2019-02-20 01:59] StevenWung opened #486 "where is the cron config stored on mac?"
Hi
I used the node-schedule to debug a schedule, but after I shutdown the process, the tasks are still scheduled to run.
I checked the `crontab -l `, nothing found there.
I'm wondering where the scheduling file stored?

I am using Mac.

Thanks

[2019-02-21 15:24] fplaten commented on #328
Sorry to reply to this closed issue, but how would I pass an argument to the named function?

I'm currently doing `schedule.scheduleJob(new Date(), function() { myNamedFunction(myArgument) });

[2019-02-21 23:56] GermanBluefox commented on #467
E.g.
[code]

In this case I get:
[code]

in this case the date is valid, but the result is the same

[2019-02-24 02:03] andrewsosa commented on #486
See here:

https://github.com/node-schedule/node-schedule/blob/cb5a08d4329f5f328cd094ca072ad7711811ece1/README.md#L35-L38

[2019-03-05 04:28] rfossella commented on #428
Hi,
I have similar question regarding executing a job **once**.

My end user is required to enter a _time_ for a job to run a **single** time and does not provide a date.
I see that Node-Schedule is smart enough to know that if the time is past the current time, that it will (correctly) schedule for the next day.  But I only want this to execute the single time and then be removed from scheduled j

[2019-03-08 07:58] bosscheng commented on #417
Same issue here.

[2019-03-12 17:18] yuricamara opened #487 "Firebase Cloud Functions - Long Cron Time"
Hi,

Does this library work well in CF even with long time, such as days?
I read somewhere that CF can have problems with long cron time.

Thanks!

[2019-03-14 06:06] JhinDeng commented on #456
I aslo looking for a solution. one of my ideas is use the cluster module and only run in the master instance.
[code]

[2019-03-15 05:35] #441 closed

[2019-03-23 11:17] dzek69 opened #488 "Scheduling jobs in the past - throw error?"
Currently, when I schedule a job in the past - nothing happens.

Throwing an error or another way of notification that job won't run would be nice.

Reason:
I'm builing an app that should do given stuff at given time. I'm storing all the jobs in the database. In case of server being down the job won't run. If I load the jobs from the database back to node-schedule - they won't run and I won't know

[2019-03-27 23:00] toymachiner62 opened #489 "Schedule only firing on app start"
I have 2 files, `index.js` and `scheduler.js`.

index.js
[code]

scheduler.js
[code]

According to `https://crontab.guru/#*/1_*_*_*_*` my cron syntax should fire every minute, but it is only firing on app start and then errors the next minute when it tries to fire.

[code]
Seems that if i don't pass in a parameter and call `schedule.scheduleJob('*/1 * * * *', doStuff)` instead of `schedule.schedul

[2019-04-01 09:49] Favna commented on #489
Why even separate the callback function? Just do it like this:

[code]

[code]

Or even shorter with ES6 modules, arrow functions, and template literals:

[code]

[code]

[2019-04-01 15:23] Tethik commented on #217
I had to dig a bit through cron-parser and the source of this library, but this functionality does exist at least for cron-like jobs.

Example that works for me:
[code]

[2019-04-01 16:04] toymachiner62 commented on #489
3 reasons:
1) B/c my code can't be modular if i follow your suggestion.

The functions that I'm putting on a schedule with node-schedule I also want to execute via a REST endpoint

2) I want to be able to write unit tests for my functions. By embedding them inside `schedule.scheduleJob` It makes it much harder to unit test just the logic

3) I plan to schedule many jobs (say 100). I don't want all

[2019-04-01 19:02] rfossella commented on #476
FYI: I added something in my callback to check if the job was done - i.e. no next invocation.  If done, then I cancel the job, thus removing it from memory.
[code]

[2019-04-02 13:53] MathieuAA commented on #489
@toymachiner62 the issue is that the code from your scheduler is wrong, it should be:
[code]

You were passing `undefined` in your example instead of a function.

[2019-04-04 14:04] DavinderPRO commented on #482
@circa10a can you please help me out ?
   I am trying to scheduled a job every 15 days , right have hard coded days 15, 30.
Is this following code correct for this purpose
[code]

[2019-04-04 14:55] circa10a commented on #482
@DavinderPRO That should work.

Alternatively,

`0 0 */14 * *`

[2019-04-09 08:52] mreis1 commented on #471
@yousefissa there's an easy way to determine this.
If you run `killall -9 node` all node apps will die.
There you can start your app again. If you see double treatment the issue might be other than multiple processes "console.logging" to the same stdout (in my case the same window console).

[2019-04-10 19:04] DiskImage opened #490 "Update docs to reflect cron-parser's new support for the # day-of-week character"
The latest release of the `cron-parser` dependency has added support for the `#` special character.

[2019-04-11 08:44] santigimeno commented on #490
@DiskImage do you really need the update? Just saying because it's now defined like this: `"cron-parser": "^2.7.3"` and that should have you covered.

[2019-04-11 14:23] DiskImage commented on #490
@santigimeno Thanks, that's an excellent point. What I should have requested, and will edit the issue to reflect, is that the docs need to be updated to reflect the new `#` support.

[2019-04-11 14:28] santigimeno commented on #490
:+1: Are you up for a PR? ;)

[2019-04-11 14:30] DiskImage commented on #490
Yeah, I don't mind resolving my own issue. 😛
It's only fair since I added the `#` support to `cron-parser`, too

On Thu, Apr 11, 2019, 09:28 Santiago Gimeno <notifications@github.com>
wrote:

[2019-04-11 14:56] DiskImage commented on #490
I might add W later if I'm feeling wild.

[2019-04-15 15:17] toymachiner62 commented on #489
@MathieuAA How do you figure? I just didn't include the implementation of `doStuff` in my sample code above.

[2019-04-16 09:39] MathieuAA commented on #489
I didn't need the implem :) I just figured that the scheduleJob function takes a function, not what the doStuff function might return.

[2019-04-16 11:00] MathieuAA commented on #489
That, and I guessed that your doStuff function returned nothing.

[2019-04-16 12:56] toymachiner62 commented on #489
`doStuff` doesn't return anything. It's simply a function which executes some code. It shouldn't need to return anything should it?

[2019-04-16 15:45] MathieuAA commented on #489
Absolutely not, that's up to you anyway. Anyway, I guess you can close this issue now :)

[2019-04-16 15:58] #489 closed

[2019-04-19 04:37] bjoe88 commented on #488
Just a suggestion. How about you just load the jobs from the current time. Whatever job in database from current time, is already pass and you can handle it differently.

[2019-04-19 08:15] dzek69 commented on #488
I can still load job that should be run 1 second later from current time, but before the code goes to the `node-schedule` call - that second already passes and the job never runs without any notification.

[2019-04-19 09:38] santigimeno commented on #488
@dzek69 I get what you're saying and iirc throwing was proposed some time ago though it would be a breaking change. At the moment, we should be returning `null` whenever a job scheduling fails. the reason may vary: from an invalid input to a date set in the past. For the moment, would checking for the return value work for you?

[2019-04-19 09:59] dzek69 commented on #488
I did not know about that, README doesn't say a word about it and I haven't thought about checking the returned value (README doesn't ever use returned value too).

Anyway - this sounds good enough for me. Having a reason would be even better (this is what errors are for) but for my use case - that's enough.

Thank you.

Feel free to close this issue or keep it open as a breaking change suggestion

[2019-04-25 18:43] FlandersBurger commented on #328
Have you found an answer to this?

[2019-04-26 13:27] fplaten commented on #328
yes, I needed to bind the object:

[code]

[code]

[2019-05-01 13:55] marcpre opened #492 "Run all jobs with past-dates at the beginning of the queue"
Hello,

I am using `"node-schedule": "^1.3.2"` and I have noticed that *node-schedule* only runs jobs in the future.

To prove this I created a minimum viable example:

    const schedule = require('node-schedule');

    function randomDate(start, end) {
      return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));
    }

    let start = new Date()
    let end = new D

[2019-05-03 01:27] hethcox commented on #488
This got me too. I knew the dates were valid because I created them, but can't guarantee they are in the future for my system. I thought it would just execute the callback immediately if it was in the past.

[2019-05-03 20:15] michaelmontero commented on #459
Any improvement on this?

[2019-05-04 07:25] keithmichelson opened #493 "Run on the hour and half hour"
I can't quite understand how to do this in the example.

For example I need it to run at 5:00, 5:30, 6:00, 6:30 etc..

Can I do the cron example and pick 2 times? Something like this?

[code]

[2019-05-04 17:44] keithmichelson commented on #493
Okay this will work. Seems like the other should too though.

[code]

[2019-05-05 14:07] zoneccc commented on #337
I have the same questions as you.

[2019-05-12 15:22] SheaBelsky commented on #360
@santigimeno Can `scheduledJobs` be added to the README? I think it's an important piece of documentation for people who may need to manipulate or examine jobs scheduled for the future.

[2019-05-13 15:34] hayzem commented on #313
I am having a similiar problem. I prefer option 2 (implicitly cancelling the previous job). Is there any PR coming for it?

[2019-05-13 23:06] digimbyte commented on #492
This is an oversight in the procedures of the package, what if your script is offline during a scheduled event and it doesn't trigger?
we need control over it

[2019-05-15 07:55] nxycdl opened #494 "Schedule stops running after some days"
i use node-schedule in my production environment ,It has been running for about 10 days. Schedule stops running, I didn't find the reason to stop，so i restart my node application is work well.
when this Appear ，i use top command on my ububtu service and find the memory is low, i guess when memory is low is will stop node-schedule, but only guess. Does anyone  have the same problem ？ thanks

[2019-05-21 03:54] s059ff opened #495 "nextInvocationDate goes into infinite loop"
If type of RecurrenceRule.year is Range and both "start" and "stop" params is past,
nextInvocationDate() goes into infinite loop (not return forever)

For example, it occurs in the following cases:
[code]

[2019-05-21 06:36] jjeejj opened #496 "cron expression invalidation"
cron expression invalidation
 `0/1 * * * * ? ` : `Starting at 0 seconds, execute every second`

this means **/** symbol not supported , node-schedule ?

[2019-05-27 00:22] spyshower commented on #494
@nxycdl Did you find any other info regarding this?

[2019-05-29 12:25] shiraishimai commented on #494
I am facing the same problem, letting the cron scheduler runs for 24 days (first time I met), then it has stopped executing again suddenly, without any errors.
Interestingly that I can still list the scheduler from the module.

[2019-05-30 07:10] lostfictions commented on #494
I had a similar issue! Glad I'm not alone. In a memory-constrained environment (a Docker container on a low-end VPS) my Twitter bot stopped tweeting. I actually didn't notice for a month... until one day it decided to catch up by tweeting everything it had missed. It ended up making about 200 tweets in the span of four minutes...

[2019-05-30 09:23] harae commented on #471
Has this problem been solved?

[2019-05-30 12:09] deskoh commented on #313
Another issue is that job scheduled to run only once (i,e, [Date-based Scheduling](https://github.com/node-schedule/node-schedule#date-based-scheduling)) is never removed from `scheduledJobs`.

[2019-05-30 14:20] deskoh commented on #494
Are you mainly using [Date-based Scheduling](https://github.com/node-schedule/node-schedule#date-based-scheduling)?

[2019-05-30 18:43] lostfictions commented on #494
@deskoh neither? i'm using cron-style scheduling, where a job is set to recur every four hours.

not sure about the OP's issue, but my problem sounds similar to #431 and #322.

[2019-05-30 18:52] santigimeno commented on #494
Hey! I would like this issue to be solved but for that I would need a reproducible test case. Do you think that would be possible?

[2019-05-30 18:54] santigimeno commented on #495
Ok. I'll look into this.

[2019-05-30 20:25] lostfictions commented on #494
@santigimeno I think it would be possible to engineer a repro using vagrant and a memory-constrained vm configuration that gradually applies additional memory pressure... but I personally don't have the bandwidth to attempt this right now :(

Unfortunately, this issue has happened to me often enough that I'm just going to migrate all my projects to use regular `cron`, but I hope it can get fixed a

[2019-05-31 00:22] deskoh commented on #494
@santigimeno For Date-based scheduling, the code below shows that jobs don't get removed from `scheduledJobs`, at least immediately, after it ran.

[code]

Output:

[code]

With `job.cancel()`, the number size decreases. However #443 seems to suggest otherwise.

[2019-05-31 02:20] HuMoran commented on #471
I update to  1.3.0 and it had worked fine for a few months.

[2019-05-31 02:21] #471 closed

[2019-06-01 06:21] shiraishimai commented on #494
Hi @santigimeno ,
I used a cron-style scheduler with timezone combination, `0 */10 0-1,6-23 * * *`, this is the first time I have left it for 24 days so I am not sure it is consistently reproducible.

I forgot to check the memory consumption, however, the process did not crash, I was able to log the scheduler from `Object.keys(scheduler.scheduledJobs)`.

[2019-06-15 18:28] simonstewart-bridgement opened #497 "Correct way to schedule to run every minute (*/1 * * * * vs * */1 * * * *)"
I understand that the first * is optional for seconds, but why does the following execute every second and not every 1 minute:
* */1 * * * *

Here is a quick reproducible.
[code]

Quick solution for me is to remove the leading * as we don't require seconds anyway, but I'm curious why it doesn't work with it in place.

[2019-06-18 09:04] m-schmoock commented on #468
Yes, it should be possible to `scheduleJob(Date.now(), ...)` or  `scheduleJob("now", ...)` .
Unfortunately, it doesnt work reliable by adding onw millisecond:

`scheduleJob(Date.now()+1, ...)`

Currently, you have to add more (i.e. 100ms, still unreliable though) or handle direct execution in your code :/

[2019-06-23 22:43] nickdbush commented on #444
Running into this same issue. Will have a look around tomorrow and try and see what I can see :)

[2019-06-26 06:27] Usama-Tahir commented on #494
I am running two cron jobs in a single `index.js` file. one is running every `15` minutes and the other is running daily at `9 am`. Initially I had only one cron job of `15` minutes and it worked perfectly. But when I added another cron job that runs daily at `9 am`, the node process stopped after 4,5 hours.

[code]

[code]

any idea why my node process stopped? I checked the logs and there were n

[2019-06-27 16:17] ohenepee commented on #382
Any info on this from those who commented in 2017?

[2019-06-28 14:37] jariwbh opened #498 "hour schedule run 60 times"
var rule7 = new cron.RecurrenceRule();
    rule7.hour = 20;
    cron.scheduleJob("24 hour job", rule7, function(){
      console.log(new Date(), '24 hour job');
      dailyschedule();
    })

it run 60 times when hour hit 20.

[2019-06-30 00:26] MBerka commented on #493
Cron format is space sensitive. I tested the following to verify:
`0,10,20 * * * * *` runs on the 0th, 10th, and 20th seconds of every minute.
`0,10, 20 * * * *` runs on the 0th and 10th seconds of the 20th minute (the trailing comma is ignored).

So in `0, 30 * * * *`, the space after your comma sends the 0 to the optional seconds place in the string. It should thus run on only the 0th second of

[2019-06-30 11:48] shiraishimai commented on #494
Now it is failing again,
this shows some consistencies that my scheduled job is silently lost after running for 24~25 days.

My node process is still alive. Also the scheduler id can be logged by listing.
| pid | status | restart | uptime | cpu | mem |
| 27660 │ online │ 0       │ 25D    │ 0.6% │ 58.7 MB |

Unlike @Usama-Tahir , I have only 1 cron job.

Cancelling the existing job and re-schedule

[2019-07-09 14:54] marufmax commented on #444
having the same issue

[2019-07-10 21:11] hariantara opened #500 "what happen when server restart , is node schedule still running ?"
The case is:

when server got shut down or restart, is that the node schedule still running  or it being cancel and need to re run again ?

[2019-07-16 13:55] MewingPlane commented on #263
`_.forEach(scheduledJobcard, function(value,prop,item)
    {
        if (self.jobs[prop])
        {
            self.jobs[prop].cancel();
            delete self.jobs[prop];
        }

        self.jobs[prop] = schedule.scheduleJob(prop, function()
        {
            self.logger.debug(self.type+":"+arguments.callee.name,__line,"Schedule Begin ",prop);

        });

    });`

After a couple of w

[2019-07-18 06:37] aqualaguna opened #501 "please modulize the lib this is hard to read"
while the documentation is great please modulize the library so it can be easy to read.
if needed use typescript (rewrite).

[2019-07-18 06:49] aqualaguna commented on #487
of course the CF is a bad platform to running cronjob.
**CF has a lifetime of 10 minutes**.
because of its design its not used for long running application.

[2019-07-24 07:02] hanhaotian87 commented on #494
My project used pm2-logrotate , it include node-schedule. Now , after some days , the logrotate will stop

[2019-07-26 08:41] Mcbeer commented on #500
If you have jobs saved to run at certain datetimes, you will need to reschedule them if you restart the server.

The schedule is not being stored anywhere other than memory, so it will disappear when you shut down/restart the server.

[2019-07-26 13:40] cristian-programmer opened #502 "What parameter should I pass to run every day at 5:30 pm?"
Hi good day
What should I set as a parameter if I want my JOB to run every day at 5:30 pm? using RecurrenceRule ?

[2019-07-26 22:38] yuricamara commented on #487
Thanks!

[2019-07-26 22:38] #487 closed

[2019-07-30 10:43] TintKoKo opened #503 "Any Help?"

[2019-07-30 10:49] TintKoKo commented on #394
I have the same issue still didn't find any solutions

[2019-08-04 20:00] cyptus commented on #467
any news or workaround? i got the same issue

[2019-08-06 13:39] ZangulaLiron commented on #500
lets say i a job that need to happen one time on certain date and the server was down that moment.
 how can i reschedule that job?

[2019-08-09 09:56] shiraishimai commented on #494
https://github.com/nodejs/node/issues/22149
Hi, I guess the problem could be on Node.js as the timings are quite similar, where their execution stops at 25 days.

[2019-08-10 15:32] artem-a opened #504 "The callback is fired before the job method"
Hi, I had an issue, the callback is fired before the job method.

сode to reproduce
[code]
output
[code]

- node v10.14.0
- node-schedule 1.3.2

[2019-08-20 06:45] shlomo666 opened #506 "Cron should support 7 cells"
I'm trying to execute every 10 seconds, and I implemented some auto cron generator to do this.
But it seems like my cron string is not supported by this module.
Here's what is not working:
`*/10 * * * * * *`
Here's what is working (one less *):
`*/10 * * * * *`

From what I understand from cron documentation 7 * should be supported as well.

[code]

[2019-08-20 08:14] santigimeno commented on #506
@shlomo666 we use https://github.com/harrisiirak/cron-parser as the cron library. If you want to ask for new functionality you should ask there first. Thanks!

[2019-08-21 08:59] #506 closed

[2019-08-22 05:46] jasperblues commented on #472
@eharrow That is a good approach. Note that if the job fails, server crashes or whatever in the middle, then the lock would not get released.

Another approach if the db supports:

```select * from public.scheduled_job where id = $1 for update nowait```

This will obtain a lock on the row or throw an error if already locked. At the end it will either commit or rollback.

[2019-08-24 22:42] GermanBluefox commented on #467
Seems the project is dead. :(
Does someone know another scheduler lib?

[2019-08-26 05:59] icewater2018 commented on #494
I had the same problem, and the scheduled tasks stopped almost 20 days later.

[2019-09-03 04:00] Ben07 opened #507 "@types/node-schedule not update for tz"
I use `typescript` to write code and found that `tz` is not found in `RecurrenceRule` in `@types/node-schedule`.
please update it.
Thanks.

[2019-09-06 16:56] khessels commented on #67
[code]

[2019-09-18 15:23] ManjunathSVBB opened #508 "Some schedule jobs are not getting triggered"
We are observing a scenario in a given duration such as 3 mins we are supposed to schedule some 10 jobs which are cpu intensive, out of which considerable number of jobs are not getting triggered lets say 5 jobs are missing, How do we resolve this kind of Issue

[2019-09-25 06:12] qiufeihong2018 opened #509 "Cannot read property 'execute' of undefined"
`    this.job.execute(fireDate);              ^  TypeError: Cannot read property 'execute' of undefined`

[2019-09-26 05:57] ar-naseef opened #510 "Running on a serverless (AWS lambda) function"
I tried to run on an AWS lambda function. As expected it did not run. And that makes sense as the memory is cleared when the function returns.

Is there any other way to deploy this on an AWS lambda function?

[2019-09-26 08:39] lacivert commented on #497
I am not sure about this but for "every minute", I would use

5 stars => "* * * * *"
or
0 + 5 stars  => "0 * * * * *" (= whenever "second" shows 0 on the clock)

[2019-09-27 06:58] Kaliph commented on #508
I am also expieriencing the same issue. Some jobs do not trigger. I am using Date-time string to schedule jobs.

[2019-09-27 08:30] santigimeno commented on #508
Can any of you send some code that reproduces the issue? Thanks!

[2019-09-27 08:32] santigimeno commented on #510
Can't you just do that on AWS lambda using [Cloudwatch Events](https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html#CronExpressions)?

[2019-09-27 08:33] santigimeno commented on #503
Closing as I don't know what the issue is. Please open a new issue describing your problem.

[2019-09-27 08:33] #503 closed

[2019-09-27 08:34] santigimeno commented on #501
PR are always welcome :)

[2019-09-28 00:36] FutureKen commented on #509
Having the same issue after upgrading to NodeJS v10 (v10.16.3)
`TypeError: Cannot read property 'execute' of undefined
    at Job.invoke (/xxx/node_modules/node-schedule/lib/schedule.js:175:14)
    at Timeout._onTimeout (/xxx/node_modules/node-schedule/lib/schedule.js:543:11)
    at ontimeout (timers.js:436:11)
    at tryOnTimeout (timers.js:300:5)
    at listOnTimeout (timers.js:263:5)
    at Tim

[2019-09-28 10:24] Kaliph commented on #508
I gabe your email address access to a Gitlab project to reproduce the issue. At the moment I think the bind method is not working as expected. When calling two jobs at the same time, only the last job is in the callback function. would be great if you could check what is your opinion on that. Thankyou

[2019-09-28 13:55] Kaliph commented on #508
At the moment it looks like it is very stable. I will comeback once I have recreated the issue. At the moment I can´t. I will leave my test running over time to see if it fails at some point. Thankyou

[2019-10-03 11:14] campanagerald opened #511 "scheduleJob return null"
OS: macOS Mojave, Version 10.14
Node: v10.15.0

I tried the example on Date-Based Scheduling.

var schedule = require('node-schedule');
var date = new Date(2012, 11, 21, 5, 30, 0);

var j = schedule.scheduleJob(date, function(){
  console.log('The world is going to end today.');
});

console.log(j) // null

when logged "j" is null.